[2020-12-12 12:53] danieldaeschle opened #300 "report error popup if vls crashes"
if vls crashes a popup should appear to report the bug on github. a pregenereated link should be generated like this site does: http://githubissuelinkgenerator.com/

the content of the issue should be the current open file and the vls error stack trace.

[2020-12-12 13:46] danieldaeschle opened #2 "Add CI for tests"

[2020-12-12 13:49] nedpals opened #3 "Hover support"
show documentation

[2020-12-12 13:49] nedpals opened #4 "Completion / Intellisense"

[2020-12-12 13:49] nedpals opened #5 "Signature Support"

[2020-12-12 13:49] nedpals opened #6 "Testing"

[2020-12-12 13:49] nedpals opened #7 "Initialize message does not get parsed correctly"
On Windows, the following initialize message
[code]

does result in a -32700 Invalid Json message.

[code]

Similar messages sent to rls (rust language server) or pyls (python language server) are working.

[2020-12-12 13:49] nedpals opened #8 "Investigate the document parsing/processing flow"

[2020-12-12 13:49] nedpals opened #9 "Create an LSP client for E2E testing"
Aside from unit tests per function, an LSP client would also need to simulate the requests between the client and the server.

[2020-12-12 13:49] nedpals opened #10 "Unify text document URI conversion methods"
Currently there are three methods for converting the text document URI from an LSP request to a real filesystem path and vice versa: `fspath_to_uri_str`, `fspath_to_uri`, `uri_str_to_fspath` each with different return types (all except for `fspath_to_uri_str` returns an option). Would be cool if we can simplify things and boil down to two functions

[2020-12-12 13:49] nedpals opened #11 "Document / workspace Symbols"

[2020-12-12 13:49] nedpals opened #12 "Diagnostics"

[2020-12-12 13:49] nedpals opened #13 "Formatting"
This replaces the formatting feature in [vscode/vlang](https://github.com/vlang/vscode-vlang) to be client-agnostic.

[2020-12-12 13:49] nedpals opened #14 "Read data from `initialize` request"
- [x] process_id
- [x] client_info #80
- [x] root_uri #65
- [x] ~root_path~ (in favor of root_uri)
- [ ] initialization_options
- [ ] capabilities
- [x] trace #80
- [ ] workspace_folders

[2020-12-12 13:52] danieldaeschle commented on #6
what kind of testing?

[2020-12-12 13:52] danieldaeschle opened #15 "Find references support"

[2020-12-15 09:14] #2 closed

[2020-12-16 06:12] nedpals opened #20 "Standardized logging for debugging"
Great for reporting feature posted at https://github.com/vlang/vscode-vlang/issues/174

Link: https://github.com/microsoft/language-server-protocol-inspector

[2020-12-16 06:13] nedpals opened #21 "Add TCP as mode of communication"

[2020-12-16 07:31] #10 closed

[2020-12-16 07:32] danieldaeschle commented on #21
i think we don't need it right now. Let's make other things work first.

[2020-12-16 07:33] danieldaeschle commented on #20
this is awesome :)

[2020-12-16 07:38] nedpals commented on #21
Yeah it's a low prio issue for now

[2020-12-16 08:37] danieldaeschle commented on #4
https://github.com/microsoft/vscode/blob/master/extensions/typescript-language-features/src/languageFeatures/completions.ts#L439

[2020-12-16 08:38] danieldaeschle commented on #4
https://github.com/theia-ide/typescript-language-server/blob/a97834e2b8609fc7ca22663dec986640e01d0d31/server/src/lsp-server.ts#L427

[2020-12-16 08:48] danieldaeschle commented on #4
this is really complicated.

[2020-12-18 07:07] #6 closed

[2020-12-18 22:38] danieldaeschle opened #31 "Create release on tag creation with binaries"

[2020-12-23 02:48] iambudi opened #35 "VLS can't compile"
V 0.2 a2cd1b1 on Big Sur

[code]

[2020-12-23 03:46] nedpals commented on #35
@iambudi You should clone `https://github.com/vlang/vls.git` instead of `https://github.com/nedpals2/vls2.git` Will update the readme :)

[2020-12-23 03:48] #35 closed

[2020-12-23 08:51] Zymlex opened #36 "Build problem"
![изображение](https://user-images.githubusercontent.com/25817412/102978167-d00a4900-454f-11eb-9acf-150595044e94.png)

v doctor
OS: windows, Microsoft Windows Server 2019 Datacenter v17763 64-bit
Processor: 4 cpus, 64bit, little endian, Intel(R) Core(TM) i7 CPU         920  @ 2.67GHz
CC version: N/A

vroot: D:\SW\Dev\V
vexe: D:\SW\Dev\V\v.exe
vexe mtime: 2020-12-23 08:59:48
is vroot writable: true

[2020-12-23 09:15] medvednikov commented on #36
Old V.

[2020-12-23 09:15] #36 closed

[2020-12-27 08:51] #7 closed

[2020-12-28 04:59] nedpals opened #45 "Compile with -autofree"
Just a reminder to compile vls with `-autofree` whenever there are new changes to the autofree engine aspect of the compiler. Compiling it with -autofree right now causes C errors.

[2020-12-28 13:19] #11 closed

[2020-12-29 03:05] despiegk opened #46 "can't compile"
![image](https://user-images.githubusercontent.com/6021844/103255791-fd5d5980-498a-11eb-91fe-460e1da5e5dc.png)

[2020-12-29 04:17] Delta456 commented on #46
Can you also attact the program?

[2020-12-29 04:24] spytheman commented on #46
I think it is `vls`.

[2020-12-29 04:29] JalonSolov commented on #46
Yep. Can see that from the command at the top... `v -prod cmd/vls`

[2020-12-29 07:50] nedpals commented on #46
@despiegk Hi can you try update VLS again? I have pushed a fix for it :smiley:

[2020-12-31 17:55] Delta456 opened #47 "code window is asked to be reloaded when vls runs for a long time"
If VLS is running for long then sometimes it makes the editor to hang and then asks for user to reload the window.

[2021-01-01 00:35] nedpals commented on #47
can u state here what editor and os are u using? as well as instructions that we can use to reproduce that issue 🙂

[2021-01-01 04:33] Delta456 commented on #47
I am using the V compiler and my OS was Windows 10. I had to write bad code for VLS to detect then fix it afterwards then when doing `make` on the issues trigger sometimes.

[2021-01-01 05:47] nedpals commented on #46
Closed. Fixed in https://github.com/vlang/vls/commit/b333bcbd260779ddbab5917b2e51859e0415fe5a

[2021-01-01 05:47] #46 closed

[2021-01-01 20:25] matteoturini opened #49 "Check for structs/functions in other files"

[2021-01-01 20:26] matteoturini opened #50 "Don't panic on code errors"

[2021-01-01 20:27] matteoturini opened #51 "Add hover and completion"

[2021-01-01 23:39] nedpals commented on #51
Closed. Duplicate of #3 and #4

[2021-01-01 23:39] #51 closed

[2021-01-01 23:39] nedpals commented on #49
Closed. Duplicate of #11.

[2021-01-01 23:53] nedpals commented on #50
Can you please provide the editor you are using, the operating system, and any additional details that may help in addressing your problem?

[2021-01-02 06:19] nedpals commented on #49
Sorry bout that. Will add support for checking symbols in other (unopened) files

[2021-01-02 08:40] Zymlex opened #52 "Add compatibility with LSP Support plugin (CLion, IntelliJ and other)"
https://plugins.jetbrains.com/plugin/10209-lsp-support

![изображение](https://user-images.githubusercontent.com/25817412/103453826-a9a39500-4d29-11eb-9f89-9f0f7a048312.png)
![изображение](https://user-images.githubusercontent.com/25817412/103453831-b9bb7480-4d29-11eb-9082-b01e85e4f097.png)
![изображение](https://user-images.githubusercontent.com/25817412/103453835-c344dc80-4d29-11eb-894d-cee8b9c4

[2021-01-02 08:52] Zymlex opened #53 "Check compatibility with Qt Creator"
![изображение](https://user-images.githubusercontent.com/25817412/103453929-98a75380-4d2a-11eb-8b80-cee6b31a77a7.png)
![изображение](https://user-images.githubusercontent.com/25817412/103454046-ac06ee80-4d2b-11eb-85cb-4d3a644a5d95.png)

[2021-01-02 08:59] Zymlex commented on #52
123

[2021-01-02 09:12] nedpals commented on #52
Other editors aside from VSCode will be supported.

[2021-01-02 15:54] matteoturini commented on #50
VSCode, Windows 10 x64, master branch

[2021-01-02 15:55] matteoturini commented on #49
Oh, so it checks on opened files?

[2021-01-02 23:36] nedpals commented on #49
Yes.

[2021-01-09 11:35] Zymlex commented on #50
I also encountered this problem, vls crashes and require restart VSCode

[2021-01-09 22:06] JalonSolov opened #54 "formatter incorrectly removes lines"
I have a file named `decbin.v`:
[code]
When this file is saved, the 3 `println` lines at the end (plus the blank line above them) are stripped from the file.  Not good.

Perfectly valid V file, runs fine as-is.

[2021-01-11 17:32] elianiva opened #57 "latest vls can't compile"
Hi there. It seems that I couldn't compile the latest version of vls using the compiler from vlang website (v0.2). I'm using Linux. Here's the error, ask me for more detail if needed. Thanks in advance!

![image](https://user-images.githubusercontent.com/51877647/104216991-605fed80-546d-11eb-8c0e-6463d16c7f12.png)

[2021-01-11 17:40] elianiva commented on #57
oh, it gets fixed after doing `v up` from 0.2 to 0.2.1. Closing this.

[2021-01-11 17:40] #57 closed

[2021-01-14 13:12] serkonda7 opened #59 "Document outline is ordered alphabetically and not as in the code"
Take for example the first part of the outline for `fmt.v`. All entries are sorted in alphabetical order and not as they show up in the actual file.
This is a lot harder to use for developers that are somewhat familiar with the source and doesn't help newcomers to get there.
![image](https://user-images.githubusercontent.com/40118727/104594907-1f84f600-5672-11eb-87f3-a2c28a651a96.png)

[2021-01-14 13:36] nedpals commented on #59
@serkonda7 AFAIK VLS does not sort it by default as seen on here: https://github.com/vlang/vls/blob/ba5c969ffb69e14ea4548f4ddbb828d3ae58b8c0/tests/features_test.v#L109

It might be VSCode sorted the symbols in alphabetical order. You can change the setting by clicking the three dots menu on the Outline pane:

![Screenshot from 2021-01-14 21-34-04](https://user-images.githubusercontent.com/7358345/

[2021-01-14 13:44] serkonda7 commented on #59
Thanks, I did not knew about this.

[2021-01-14 13:44] #59 closed

[2021-01-16 19:11] matteoturini commented on #50
You can actually reload the window. CTRL + SHIFT + P > "Reload Window"

[2021-01-20 23:16] zakuro9715 opened #60 "Don't report non-main module error"
When develop submodule, this `project must include a main module` error is showed. It should be disabled

[![Image from Gyazo](https://i.gyazo.com/5fb93c17ee3fd62d45d0fa3ca840ba02.png)](https://gyazo.com/5fb93c17ee3fd62d45d0fa3ca840ba02)

[2021-01-21 00:28] kruzus opened #61 "vls: displays other methods coming from 'builtin' modules"
#### Issue description
VLS import suggestion is displaying bunch of other methods from the builtin module?

#### Steps to reproduce the issue

1.  Set up VLS with VScode
2. type `import` and press space bar and look for suggestions.

#### What's the expected result?

When user types: `import` and space bar to see for suggestions. It should display every modules first like in the example **A**:

 !

[2021-01-26 09:16] nedpals commented on #60
Closed. Fixed in https://github.com/vlang/vls/commit/7c93bf3ac7682d0a95005edfbcba75d4e41a6470.

[2021-01-26 09:16] #60 closed

[2021-01-31 21:14] matteoturini commented on #49
Is this feature near implementation? Any updates?

[2021-02-01 02:14] nedpals commented on #49
@matteoturini Yes and I forgot to close this. It is fixed in https://github.com/vlang/vls/commit/9bbad7d39a49e26b55d6249c7a2e6155b87ae162

[2021-02-01 02:14] #49 closed

[2021-02-02 10:21] lydiandy opened #68 "build fail when use -usecache"
os:macos
v: V 0.2.2 5aaeac7, timestamp: 2021-02-02 12:06:54 +0200

build sucess with: v -prop cmd/vls
build fail with: v -prod -usecache cmd/vls

here is the error message:

==================
ld: 83 duplicate symbols for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

==================
(Use `v -cg` to print the entire error message)

builder e

[2021-02-06 19:13] stereobooster opened #69 "Building vls fails in docker image"
Dockerfile

[code]

Output:

[code]

Trying to build VLS in dev-container https://github.com/stereobooster/v-vscode-remote-development-template

[2021-02-07 00:15] JalonSolov commented on #69
I don't see any errors there.  Did you post the complete output?

I _can_ tell you that it is usually better to clone the repo than to download a zip file - especially when there's no official zip file released.  Who knows how out of date that might be?

[2021-02-07 06:55] helto4real commented on #69
The docker container is running Linux and the output state “.exe”?

[2021-02-07 09:53] spytheman commented on #69
Please provide more details (for example provide `v doctor`), and an explanation of what are you trying to do exactly. It is hard to guess what is your problem and even if there is one otherwise.

[2021-02-07 12:03] stereobooster commented on #69
Where is it? I can't find link in readme

[2021-02-07 12:08] stereobooster commented on #69
[code]

[code]

[2021-02-07 15:04] JalonSolov commented on #69
Well, there is at least part of your problem.

The official `vls` repo is: https://github.com/vlang/vls

Not whatever "stereobooster" has... possibly a fork, or whatever, but not the official repo.

[2021-02-07 15:17] stereobooster commented on #69
the same with official.

[code]

I forked it today to show issue with vscode, but it is reproducible with Docker alone.

[2021-02-07 15:50] JalonSolov commented on #69
I can reproduce the failure, which is
[code]

[2021-02-09 09:11] helto4real commented on #69
@JalonSolov @spytheman  it seem that if I add the llvm to the images it seems to work. So two options to get the default image working with prod flag. One is installing llvm to the images (additional 128 mb) or use gcc as default prod compiler. I tried to build the llvmgold plugin separately but I really did not have time to understand how to make it work. What option seem the best for you guys?

[2021-02-09 09:18] #61 closed

[2021-02-09 09:46] helto4real commented on #69
Decided to include the llvm-dev package. Maybe we could have saved a space manually build it and include the file only but that was way too much work for now.

[2021-02-09 09:46] #69 closed

[2021-02-10 02:08] nedpals opened #70 "Comment Extraction"
Work on this after all the necessary features have been implemented

[2021-02-14 13:55] zedd3v opened #72 "Error building vls"
![RollerBushsqueaker](https://user-images.githubusercontent.com/43217974/107878677-995c0980-6ed4-11eb-9d47-32b93267b4a0.png)

[2021-02-19 12:07] nedpals opened #74 "Folding Range"
https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_foldingRange

[2021-02-21 04:49] nedpals commented on #72
Related: https://github.com/vlang/vscode-vlang/issues/211

[2021-02-26 14:27] nedpals opened #81 "Go to definition support"
https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_definition
https://code.visualstudio.com/docs/editor/editingevolved#_go-to-definition

[2021-02-26 23:03] #72 closed

[2021-03-09 07:46] #20 closed

[2021-03-09 07:46] #50 closed

[2021-03-17 00:55] nedpals commented on #45
As of https://github.com/vlang/v/commit/fafb035fb523fcb3105e112e1142a640b7f21b44

![image](https://user-images.githubusercontent.com/7358345/111398461-7b194180-86fe-11eb-9117-e691df5cb418.png)

[2021-03-20 22:32] dimas-cyriaco opened #85 "Server crashes with invalid code."
I've accidentally typed a `?` inside an interface definition and noticed that it crashed the server. I did something like this:

[code]

That was the error:

[code]

[2021-03-20 23:07] nedpals commented on #85
This is an error within V's type checker that VLS do it's a nice catch. Thanks for reporting. 😀😀

[2021-03-23 22:56] zakuro9715 opened #87 "function `strings.new_builder` is private'"
[![Image from Gyazo](https://i.gyazo.com/f19f8c3ff1c71056f049e56f6ad92dc3.png)](https://gyazo.com/f19f8c3ff1c71056f049e56f6ad92dc3)

`table.new_table` and `time.new_timer` are same

I guess `xxx.new_xxx` is treated as private

[2021-03-24 01:10] nedpals commented on #87
The offending code is found here: `vlib/v/checker/checker.v` at line 1924. I'm not sure what criteria on the if statement made it go to that path

[2021-03-28 14:39] alextwothousand opened #88 "VLS get_type_symbol invalid type"
Opened up vscodium.
[code]

Output of `v version`
[code]

[2021-03-28 14:41] Delta456 commented on #88
What code had you opened when you were trying to use `vls`?

[2021-03-28 14:44] alextwothousand commented on #88
A fresh project with a lot of Win API interaction.
Do you need a code sample?

[2021-03-28 14:51] alextwothousand commented on #88
[code]

[2021-03-28 19:34] koplenov opened #89 "LSP does not work"
#### I am use:

* VS Code [ February 2021 (version 1.54) ]
* [vlanguage.vscode-vlang v0.1.8](https://marketplace.visualstudio.com/items?itemName=vlanguage.vscode-vlang)
* v [ V 0.2.2 92f19f5 ]
* vls [ last at this moment  [last at this moment](https://github.com/vlang/vls/commit/4d510e3619109b5d655436a947d78f58506ff146)  ]

#### I want to use the LSP in VS Code and get this error:

<details>
  <su

[2021-03-30 05:05] nedpals commented on #88
This and #89 is really hard to debug where to locate the offending function without the backtraces implemented other than TCC.

@alextwothousand can you try recompile it without `-prod`? Thanks

[2021-03-30 06:11] nedpals opened #90 "Go to type definition Support"
https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_typeDefinition

[2021-03-30 06:12] nedpals opened #91 "Go to implementation Support"
https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_implementation

Progress vid: https://www.youtube.com/watch?v=9Dw-8pla6Mk

[2021-03-30 07:32] #85 closed

[2021-03-30 11:31] alextwothousand commented on #88
I wasn't explicitly compiling with `-prod`.

Here is what I was doing to compile my program.

[code]

[2021-03-30 11:41] nedpals commented on #88
@alextwothousand I see. Can you recompile VLS using TCC (without specifying `-prod` or `-cc` flags) then? I meant that because compiling programs using the TCC compiler can produce backtraces and it's the only supported right now in V. I want to find out what made the VLS to trigger the `get_type_symbol` panic.

[2021-03-30 13:53] Apppppppple opened #92 "vls uses >80% ram (of 8GB)"
using this test file:
[code]
If I trigger autocomplete on the `gg.` the vls ram usage quickly balloons and freezes the system until I `sysrq+f`.
I'm using nvim-lspconfig instead of vscode but I don't think that should change too much.

[2021-03-30 14:05] nedpals commented on #92
@Apppppppple I feel you and our team has been working on improving the memory management section. We will be also releasing a new version of VLS with Boehm GC enabled soon in order to lessen the problems with it (in the meantime).

[2021-03-30 14:09] medvednikov commented on #92
GC or not, I think the server shouldn't allocate so much RAM in the first place :)

[2021-03-30 14:46] medvednikov commented on #92
v -gc boehm

[2021-03-30 14:52] Apppppppple commented on #92
Thanks! Still seems to freeze system though unfortunately and boehm_full gets to ~70% then crashes.
Is there a way I could contribute to vls? I'm not a very good programmer but v seems quite cool and I'd like to help if I can.

[2021-03-30 16:56] Apppppppple commented on #92
My bad - didn't realize I was supposed to compile with `-manualfree` and that resolved pretty much all of the mem problems. Autocomplete seems to crash after the first time I use it though.

[2021-03-30 23:31] nedpals commented on #92
@Apppppppple with or without explicitly adding `-manualfree` flag, it is enabled by default. Maybe it crashes often hence the memory reductions. I will reopen this issue until it is resolved.

[2021-03-31 13:33] Apppppppple commented on #92
@nedpals I guess that's possible but I don't think neovim restarts lsps - before when it crashed it would stay dead, and in general you need to reload the buffer to reattach lsp servers. All I know is something about `v -prod cmd/vls -manualfree -gc boehm_incr -manualfree -cc clang -m64 -compress` reduced the memory usage drastically (and I don't think it's just the boehm_incr because I had tested

[2021-03-31 13:49] nedpals commented on #92
That's true :) And it's a challenge that I'm hoping to accomplish

[2021-03-31 13:54] Apppppppple commented on #92
It's around 0.9% at idle to ~1.5% when importing a module (which afaik is what triggered it before). I thought I remembered seeing relatively high cpu usage (maybe 15-20%) when I first compiled it like this, but I can't reproduce that and it's at ~0.1% right now.

[2021-03-31 14:01] Apppppppple commented on #92
Nevermind that, sorry. I recompiled with just `v -prod -gc boehm_incr` and I'm getting practically the same results. I'm pretty sure the problem all along was that my editor would always put in the text for the currently selected autocomplete, and then that would spam the lsp with completion and textchanged requests which was causing the ram usage and slowdown. The time I compiled vls with  the `-

[2021-03-31 20:24] alextwothousand commented on #88
I will give this a go at the earliest convenience.

[2021-04-07 14:34] nedpals opened #99 "Setup CI for measuring memory consumption"

[2021-04-09 05:47] Jarred-Sumner opened #100 "V panic: as cast: cannot cast `v.ast.StringLiteral` to `v.ast.Ident`"
If you type `''.` into Visual Studio Code with VLS running (vls from `HEAD` and V from `HEAD`), it crashes with the exception below.

Here is a video:

https://user-images.githubusercontent.com/709451/114134176-295a7600-98bc-11eb-99e0-67c305eb42b7.mov

[code]

[2021-04-09 05:54] Jarred-Sumner commented on #100
To help with debugging, I recompiled `vls` without `-prod`:
[code]

[2021-04-09 08:12] nedpals commented on #100
Will look into it now. Thanks for the detailed report :slightly_smiling_face:

[2021-04-09 14:09] nedpals opened #102 "Add regression tests for V's parser and checker"
a.k.a `v/tests` extended. Just add a set of test fixtures that might crash VLS (which shouldn't)

[2021-04-09 16:06] #100 closed

[2021-04-12 13:22] Apppppppple commented on #92
Should I close this issue now?

[2021-04-12 13:25] nedpals commented on #92
@Apppppppple We'll just close it once the issue has been fully resolved. Still in progress atm

[2021-04-14 05:45] Jarred-Sumner opened #105 "documentSymbol crash"
Here is the `vls.log`. Notice that the JSON is malformed at the end -- it crashed before it finished writing. You'll ned to remove the last two lines for LSP inspector to show something useful.

[code]

Suggestion: Make the `--debug` flag optionally accept a path and set the path to a logs directory for vls itself. That way, clients can enable it to log by default so that its easier to spot when i

[2021-04-14 07:17] Jarred-Sumner opened #106 "Request `textDocument/codeLens` failed in ./testing/testing.v"
To reproduce, open `testing/testing.v` in this repro.

vls log:
[code]

[2021-04-14 07:21] nedpals commented on #106
What is the panic error message displayed in the server's output in VSCode?

[2021-04-14 08:54] Jarred-Sumner commented on #106
After restarting the editor a few times...I'm no longer able to reproduce this -- just the https://github.com/vlang/vls/issues/105. Maybe it was a concurrency thing, where it was in the middle of running the `textDocument/codeLens` request but it crashed due to the documentSymbol request.

[2021-04-14 08:54] #106 closed

[2021-04-15 05:49] #105 closed

[2021-04-15 18:05] alextwothousand opened #107 "V language server crashing with multi-dimensional array"
[code]

[code]

[2021-04-15 18:25] alextwothousand commented on #107
even this piece of code here is crashing VLS...

[code]

the definitions for all of the above:
[code]

[code]

[2021-04-15 21:49] Jarred-Sumner commented on #107
Related: https://github.com/vlang/v/issues/9743

[2021-04-19 07:50] nedpals commented on #89
Can't reproduce the issue. Works fine for me. @koplenov have you tried updating V and VLS once again?

[2021-04-19 07:58] nedpals commented on #54
@JalonSolov has this issue been fixed for you? I've tried it and works fine for me at my side.

[2021-04-19 08:02] nedpals commented on #88
@alextwothousand It might be a Windows issue but the above code works fine on Linux.
@danieldaeschle If you have the time, can you diagnose this issue?

[2021-04-19 08:15] alextwothousand commented on #88
I can attempt to try it in Linux? What distribution are you running— just for reference?

[2021-04-19 08:22] nedpals commented on #88
It is. My distro is Ubuntu 20.04 64-bit

[2021-04-19 08:24] alextwothousand commented on #88
OK. I will attempt to reproduce this either on Fedora or Arch.

[2021-04-19 11:58] #107 closed

[2021-04-19 18:48] #89 closed

[2021-04-20 11:01] #102 closed

[2021-04-20 20:13] manen opened #109 "Cannot insert newline in function statement since suggestions pop up"
When you declare a new function by typing, suggestions pop up, and when pressing enter to insert a newline, instead it puts in the first suggested function.

[code]

Is this a VLS or extension issue, or is it my fault?

[2021-04-21 00:39] nedpals opened #110 "get_type_symbol error in FnDecl"
OS: Windows 10

Log:
[code]

![](https://i.f1ssi0n.com/ShallowFernySahuagin.png)

![](https://i.f1ssi0n.com/AngelicButterfingeredLanternArchon.png)

Repo to reproduce: https://github.com/emily33901/vlang-pe

[2021-04-21 22:23] manen opened #111 "VLS is constantly crashing."
VLS is very unstable.

The biggest issue I found is that I can't finish typing my function/type/struct/variable because VLS will crash immediately.

I think VLS should (at least for now) handle errors completely softly. If anything bad happens, print it to vls.log, and leave it be.

[2021-04-21 23:56] nedpals commented on #111
@manen Please take note that:

In order for VLS to stabilize, we need information such as the code you use and the system information so that we can fix it here.

[2021-04-22 00:03] nedpals commented on #111
Your concern has been fixed here: https://github.com/vlang/vls/commit/b1090848d16d30183d78095361d0299825f88360. But still, I need the information mentioned above to address your issue.

[2021-04-22 01:10] nedpals opened #112 "vraylib not showing suggestions"
Module: https://github.com/MajorHard/vraylib

Code:
[code]

[2021-04-22 06:40] manen commented on #111
Okay!
`v doctor`:
[code]

Hmm, I think the VSCode extension installed VLS just yesterday. Oh well, I'll try updating.

There were quite a few errors that were like `This is a V compiler error.`. If I catch them again I'll make sure to send them over

[2021-04-22 06:42] manen commented on #111
![image](https://user-images.githubusercontent.com/49951816/115667776-bd552480-a335-11eb-9840-062efe61e27f.png)

[2021-04-22 07:04] nedpals commented on #111
@manen Can you try post the contents of the file that VLS tried to parse? Seems like an issue in checker that needs to be fixed.

[2021-04-22 12:48] HarryET opened #113 "VLS Crashing constantly"
# Issue
VLS Crashes when you try and type import with intellisense or open a file with `im` in it

# Editor Info
![image](https://user-images.githubusercontent.com/29015545/115717051-b9df8e80-a371-11eb-8f92-945619683806.png)

# Code
[code]

# Error
[code]

[2021-04-22 13:48] manen commented on #113
Seems to be the same I observed in #111

[2021-04-22 13:50] manen commented on #111
Here's my log:
[code]

I'm pretty sure it's the same as #113 (string.eq(): nil string), so the example HarryET gave should apply here too.

[2021-04-22 18:33] alextwothousand opened #114 "Auto-complete applies `C.` prefix to interop functions regardless of its existence"
Say I have a function:
[code]

If I type `C.He` and allow auto-complete to fill in the rest for me, it will auto-complete as `C.C.Hello()` rather than `C.Hello()`.

[2021-04-22 18:41] alextwothousand opened #115 "Adding a `main` export crashes VLS"
[code]

Code:
[code]

[2021-04-22 23:58] nedpals commented on #115
Good find!

[2021-04-29 10:37] lakca opened #116 "Crash"
# Issue

happened to type a character, then crashed.

# Screenshot

Maybe extension is not all ready:

![vls-report](https://user-images.githubusercontent.com/16255922/116537308-a3f53f00-a918-11eb-8570-1abf8b75afd3.png)

But after ready still stays crashing the same,  just will restart constantly:

![vls-report-2](https://user-images.githubusercontent.com/16255922/116540730-2122b300-a91d-11eb-9fff

[2021-05-03 04:08] leighmcculloch opened #117 "vls does not compile with v master (0.2.2 9d4783a)"
It appears that vls does not compile with the current v master (0.2.2 9d4783a).

[code]

[2021-05-03 04:40] leighmcculloch commented on #117
As far as I can see there is only one definition of the type `Stdio` in vls at:
https://github.com/vlang/vls/blob/6a5e814893c7bd7b94d2f4c3bff377c68b9324b4/cmd/vls/stdio.v#L11-L14

Could this be an error in the compiler?

[2021-05-03 10:28] nedpals commented on #117
@leighmcculloch most probably. How did you compile VLS?

[2021-05-03 15:06] leighmcculloch commented on #117
This is my install script for vls: https://github.com/leighmcculloch/dotfiles/blob/989f2bc1a0ff24515a935e58db699c056164e775/files/lazybin/vls

I'm doing this:

[code]

Note that this same behavior happens if I run like so:
[code]

[2021-05-04 06:33] nedpals opened #118 "Important Announcement"
Hi guys, long time no see. Had a busy week so I wasn't able to work on VLS. There is a good news and a bad news. The good news is that I'll be continuing working on squashing the bugs reported.

The bad news is this: during these busy days. I was thinking about finding ways to address the issues it currently has. I was hesitant on some of the choices but I came up with a conclusion: build a new de

[2021-05-04 06:39] nedpals commented on #116
@lakca Do you still experience this issue on the new version of V? I cannot replicate your situation properly

[2021-05-04 06:43] nedpals commented on #117
@leighmcculloch Do you have `vls` also installed on `.vmodules`? I cannot reproduce the error you mentioned on a non-vmodules dir setup

[2021-05-04 06:44] nedpals commented on #117
Regardless, this issue should be raised into the [vlang/v](https://github.com/vlang/v/issues) repo.

[2021-05-04 09:31] #113 closed

[2021-05-04 12:22] #111 closed

[2021-05-05 04:38] leighmcculloch commented on #117
@nedpals could you transfer the issue to the [vlang/v](https://github.com/vlang/v/issues) repo?

---

Here is a `Dockerfile` that reproduces the problem.

[code]

The commits checked out are the v (vlang/v@99a2fd76c81bc8da4604ecca9eadb997bdfa4b25) and vls (vlang/vls@5d21339b10c4619036e482c03670e4b52d02ce59) masters at this moment.

You can build and run the Dockerfile with the following commands:

[2021-05-05 04:47] nedpals commented on #117
I'll transfer it now, thanks for the info

[2021-05-08 02:34] lakca commented on #116
@nedpals Yes, it remains the same.

[2021-05-13 11:22] alii opened #119 "VSCode Formatter removes generics necessary for compilation"
I have this (compiling) fn signature for inverting a tree
[code]
however, format-on-save in VSCode will convert this to
[code]
which does _not_ compile.

[2021-05-13 13:21] nedpals commented on #119
This is an issue within vfmt itself and not vls. Will transfer this to the v repo

[2021-06-05 07:37] #8 closed

[2021-06-05 07:42] nedpals opened #123 "analyzer: AST and type checking"
Should comply with the current errors in v.parser and v.checker

[2021-06-05 07:48] nedpals opened #124 "analyzer: symbol registration and inference"

[2021-06-05 08:18] nedpals opened #125 "analyzer: import system"

[2021-06-05 11:56] nedpals commented on #5
@streaksu assigned

[2021-06-05 11:58] nedpals commented on #3
Assigned: @ylluminarious (can't assign in the assignees atm)

[2021-06-06 04:15] nedpals commented on #13
Tree-sitter implemented. See: https://github.com/vlang/vls/commit/7fc8c3054178397d2cfab27e148b6adc90b7bb70

[2021-06-06 04:15] #13 closed

[2021-06-06 04:28] nedpals opened #126 "Virtual file system support"
Right now, there is no use case for VLS/analyzer to directly read/write actual source files to the OS file system. But in the future, it might be possible because of it's IO-agnostic design (can be integrated anywhere, does not tied to a single communication protocol, easy to test) so it make sense that this aspect should be abstract/independent too.

initial idea:

[code]

[2021-06-06 04:30] nedpals opened #127 "LSP 3.16 support"

[2021-06-13 16:42] zhfnjust opened #130 "install vls fail"
![image](https://user-images.githubusercontent.com/995909/121815488-5b67ca00-cca9-11eb-912f-06fcefad98b4.png)

[2021-06-13 23:40] nedpals commented on #130
The tree-sitter version is not yet available for use in the general public. Thank you

[2021-06-13 23:40] #130 closed

[2021-06-15 18:11] NickSeagull opened #132 "Cannot build vls following README"
First of all, let me thank you for the efforts behind this project. I believe that having a language server is one of the most important steps towards maturity for a programming language environment. 😄

# Issue
I've followed the steps both on `master` and `use-tree-sitter` branches, yet it fails to build with the following error:

[code]

# Environment
Output of `v doctor`

[code]

[2021-06-15 21:44] NickSeagull commented on #132
Had installed V from Homebrew, so it was an older version. Upgraded to latest and it worked flawlessly :)

[2021-06-15 21:44] #132 closed

[2021-06-22 13:21] Hunam6 opened #140 "Failed installing VLS"
check the checkbox
![image](https://user-images.githubusercontent.com/38606542/122931621-57a10b00-d36d-11eb-9ba3-e26c2077c729.png)
click on "Yes"
![image](https://user-images.githubusercontent.com/38606542/122931668-625ba000-d36d-11eb-8497-84eb996423ce.png)

[2021-06-24 01:19] Hunam6 opened #138 "error when installing (legacy version)"
When executing installation instructions
![image](https://user-images.githubusercontent.com/38606542/123187720-f6775580-d49a-11eb-9cf1-fe028ea6a343.png)

[2021-06-24 07:45] acisternino opened #139 "Error during build: unexpected name `bool`, expecting `(`"
I have followed the instructions for building VLS without any modification and the compiler fails at the `v cmd/vls ` stage.

Log:

[code]

[2021-06-24 08:35] nedpals commented on #139
@acisternino  Lots of changes in V since the version you've used. Please `v up` or manually git pull your V installation to get to the latest version.

[2021-06-24 08:37] nedpals commented on #138
@Hunam6 please checkout the `master` branch (`git checkout master`) if you want to use the legacy version.

[2021-06-24 08:37] #138 closed

[2021-06-24 08:43] doamatto commented on #140
Looks like you're on the latest branch, not master. Make sure to checkout the right branch (`git checkout master` and `git pull` before building)

[2021-06-24 13:15] acisternino commented on #139
OK, thanks a lot.

I am sorry but ATM I just can't work with the tip of the development branch.

v0.2.2 is what comes with Homebrew and was easy enough to install. I'll postpone my experiment once the situation stabilizes.

[2021-06-24 13:15] #139 closed

[2021-06-24 21:50] Hunam6 commented on #140
@nedpals
![image](https://user-images.githubusercontent.com/38606542/123337013-ee74ef80-d546-11eb-8a93-eb731aebf79c.png)

[2021-06-24 23:21] nedpals commented on #140
@Hunam6 just follow @doamatto's advice. The new branch isn't ready for use yet.

[2021-07-02 01:47] nedpals opened #142 "document symbol and workspace symbol support"
textDocument/documentSymbol: https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_documentSymbol

workspace/symbol: https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#workspace_symbol

Previous implementation: https://github.com/vlang/vls/pull/43

[2021-07-06 10:57] #125 closed

[2021-07-06 10:58] #74 closed

[2021-07-07 04:18] carterisonline opened #143 "VLS Fails to locate modules in backwards directories `..`"
VLS Seems to be able to locate modules in the current working directory, as well as from V itself and `~/.vmodules`, but cannot locate modules backwards (relative to the file that's being edited)

#### From `cmd/vls/main.v`:

![image](https://user-images.githubusercontent.com/39879966/124698439-7abfd480-deae-11eb-8135-53b5deaad7f0.png)

## Steps to reproduce
1. Install the `vscode-vlang` extention

[2021-07-07 04:39] nedpals commented on #143
@carterisonline Thanks for reporting. I forgot to add the workspace path as an import path :sweat_smile:

[2021-07-07 12:33] #143 closed

[2021-07-16 21:28] ylluminarious commented on #142
@nedpals Please see this PR: https://github.com/vlang/vls/pull/146

[2021-07-21 09:18] #124 closed

[2021-07-21 11:02] #142 closed

[2021-07-21 12:12] #5 closed

[2021-07-21 12:13] #81 closed

[2021-07-22 10:28] #3 closed

[2021-07-22 10:29] nedpals commented on #12
Must be closed together with #123

[2021-07-22 18:01] helto4real opened #153 "array.get: index out of range"
One of my projects <https://github.com/helto4real/v-hassclient> I get an error directly on startup.

The log is:

[code]
and the exact location is line 144 in store.v file:
![image](https://user-images.githubusercontent.com/26500160/126686868-dbab7736-5320-44c5-a863-bf1861e8b0c0.png)

Hope this helps finding the bug.
ps good job on the vls!

[2021-07-23 08:28] #153 closed

[2021-07-25 01:44] despiegk opened #154 "vls does not compile (treesitter branch)"
[code]

seems

[2021-07-25 01:48] despiegk commented on #154
false alarm was on wrong branch

[2021-07-25 01:56] despiegk commented on #154
needs to be

[code]

but cannot save, the autoformat removes

[2021-07-25 01:58] JalonSolov commented on #154
Need to update your V.  That was just changed in a recent commit so the `>` is not needed.

[2021-07-25 03:40] nedpals commented on #154
Unrelated to the issue but there is also an issue with the analyzer with the new [grammar rewrite](https://github.com/nedpals/tree-sitter-v/pull/8) merged yesterday so I'll be pushing the fixes for the rewrite in a minute

[2021-07-25 04:09] nedpals commented on #154
Merged in https://github.com/vlang/vls/commit/f3372045593fe1a324e20a80f8f90bd9edbee267.

[2021-07-25 09:54] #154 closed

[2021-08-09 06:28] despiegk opened #158 "cannot get VLS to work"
see https://docs.google.com/document/d/1Y56KDf2kfA6utKZkVeSgHBypbOlrQrjwMi77pcSjtbw/edit?usp=sharing
there is a full blown gitpod env to let you easily reproduce

[2021-08-09 07:58] nedpals commented on #158
@despiegk  Hi. I have reproduced what you've experiencing and it turns out that it's an issue when compiling it with TCC. I recommend using GCC (with `-cc gcc`) or other C compilers for now.

[2021-08-10 13:55] Saverio976 opened #161 "module not found for built-in module"
I just download the release asset vls_linux_x64
No problem when starting, but when i import a built-in module, it says "module not found"

![image](https://user-images.githubusercontent.com/57769503/128879642-f655e774-f483-42cb-8800-ab7e1b024957.png)

and vls_linux_x64 is on ~/Downloads/

[2021-08-10 22:06] Th3OneAndOnly opened #162 "unable to use VLS, crashes immediately upon trying to use."
I have a log from the output panel:
[code]
if you need other information, please tell me. Thank you!

[2021-08-11 01:23] nedpals commented on #162
@Th3OneAndOnly you are using an old version of VLS which is not actively maintained anymore and now only receives minor patches. Since you are using a 64-bit version of Windows, I encourage you to download and try our new version [here](https://github.com/vlang/vls/releases) :smile:

[2021-08-11 04:34] #161 closed

[2021-08-11 23:10] nedpals commented on #162
Ah, my apologies. It got fixed in https://github.com/vlang/vls/commit/5a1413b88f0769980812201f693212877d32c8d1 .

[2021-08-11 23:10] #162 closed

[2021-08-13 02:49] #4 closed

[2021-08-13 05:35] nedpals opened #164 "autocompletion: module name displayed in full path"
The autocompletion shows the full module path instead of the last part of the path
![Screenshot from 2021-08-13 13-29-37](https://user-images.githubusercontent.com/7358345/129309681-45a85f26-9d8d-4607-ab22-d8e7f113b6b0.png)

[2021-08-13 05:44] nedpals opened #165 "autocompletion: fields of returned type included in struct init"
The properties/fields of string struct have been included when getting suggestions for a specific struct init field

![Screenshot from 2021-08-13 13-35-24](https://user-images.githubusercontent.com/7358345/129310517-f6cf3ecb-292e-42d4-80d9-08466f1d0235.png)

[2021-08-13 05:47] nedpals opened #166 "analyzer: own variable not appearing in autocompletion"
![Screenshot from 2021-08-13 13-45-29](https://user-images.githubusercontent.com/7358345/129310768-d09cecf5-a6f1-4b8d-83ae-f556324028fc.png)

[2021-08-13 05:48] nedpals opened #167 "analyzer: variable with fn literal recognized as void"
![Screenshot from 2021-08-13 13-47-47](https://user-images.githubusercontent.com/7358345/129310867-6a1b11ee-d080-4e50-bc95-4f575eabcbda.png)

[2021-08-13 05:50] nedpals opened #168 "analyzer: variables inside fn literal are not analyzed"
variables such as `gs` and `cmd` must be recognized and displayed on the autocompletion list

![Screenshot from 2021-08-13 13-49-40](https://user-images.githubusercontent.com/7358345/129311002-3635fa1e-bdd8-473f-a591-62409cdffc84.png)

[2021-08-13 05:53] nedpals opened #169 "hover: struct field info incorrectly displayed"
![Screenshot from 2021-08-13 13-52-10](https://user-images.githubusercontent.com/7358345/129311285-03868aed-1f53-40c3-9ee3-f01ec05aa932.png)

[2021-08-13 10:15] hungrybluedev opened #171 "Linux build for VLS is not executable after download"
The executable generated by the CI is uploaded and available for download from the releases page. However, this approach removes the executable permissions from the file. The fix is simple, just run `chmod +x vls_linux_x64`.

This additional step can be removed if we ZIP the files before uploading as an asset for release. This will preserve the executable permission and the executable will run wit

[2021-08-18 03:10] zakuro9715 opened #172 "Add license"
I want to use lsp code of vls for my language's lsp. But license does not seem to exist. Could you add license?

[2021-08-18 04:05] medvednikov commented on #172
done

[2021-08-18 04:05] #172 closed

[2021-08-20 04:25] #165 closed

[2021-08-20 04:25] #164 closed

[2021-08-20 04:25] #169 closed

[2021-08-31 02:12] MrWheatley opened #186 "Built-in modules not found on Windows"
Using the latest version of V, VLS, and the VSCode extension.
![image](https://user-images.githubusercontent.com/28412095/131430034-3fd0288a-5657-4a3e-8820-2ffa686d44eb.png)

v doctor:
![image](https://user-images.githubusercontent.com/28412095/131430420-4979f021-b26d-42dc-8298-b592f18d133a.png)

[2021-08-31 02:24] yuyi98 commented on #186
vscode-vlang:
[code]
Please set empty and try (it will use the system setting).

[2021-08-31 02:34] nedpals commented on #186
@MrWheatley try @yuyi98 's suggestion first and if not, can you show to us a screenshot of the output tab? (Open command palette by pressing Control + Shift + P -> Select "Output: Focus on Output View" -> select "V Language Server" at the output dropdown)

[2021-08-31 11:22] MrWheatley commented on #186
After setting the vroot to empty this appeared:
![image](https://user-images.githubusercontent.com/28412095/131493943-d76c35c2-4f0f-4a70-8b71-a64e459cb68b.png)

and this is the output:
![image](https://user-images.githubusercontent.com/28412095/131493972-7d20fe24-66be-4afd-9c04-def158aa7001.png)

I also enabled the debug option and this happened:
![image](https://user-images.githubusercontent.com/

[2021-08-31 11:52] yuyi98 commented on #186
It's a bug.
Please set the Path environment variable so that v.exe can run anywhere.

[2021-08-31 11:59] MrWheatley commented on #186
Yup that worked.
It's kinda weird how v adds C:\v\.bin to the path, but not C:\v

[2021-08-31 12:08] yuyi98 commented on #186
This is really a bug.

[2021-08-31 13:08] nedpals commented on #186
We'll open this issue until it is fixed. Thanks for your report!

[2021-08-31 13:29] #186 closed

[2021-08-31 14:12] yuyi98 commented on #115
It's ok on linux/windows now!

[2021-08-31 14:12] #115 closed

[2021-08-31 14:31] yuyi98 commented on #54
It's ok now.

[2021-08-31 14:31] #54 closed

[2021-08-31 14:33] yuyi98 commented on #21
Have been implemented.

[2021-08-31 14:33] #21 closed

[2021-08-31 19:30] hungrybluedev opened #188 "Function arguments are repeated several times when using autocomplete or hovering for definition"
Example:
[code]
When using autocomplete to complete the definition for this function, too many placeholders are introduced (~20 instead of 2). Same behaviour is observed when hovering over the name for definition.

[2021-09-01 03:51] Mondanzo opened #189 "[BUG] AutoCompletion adds struct preview when defining sum-type"
When defining a sum-type vls autocompletes the structs adding all the parameters for the struct making it more effort to write a sum-type with vls than without it. Same happens when using a struct as a type in a function.

[2021-09-01 04:03] nedpals commented on #189
@Mondanzo can you provide any screenshots and code that we can reproduce this problem?

[2021-09-01 04:09] nedpals opened #190 "tree-sitter-v: add custom scanner"
Some of the edge cases such as https://github.com/nedpals/tree-sitter-v/issues/14 and https://github.com/nedpals/tree-sitter-v/issues/17 cannot be solved inside the tree-sitter grammar file alone. Thus, a [custom scanner](https://tree-sitter.github.io/tree-sitter/creating-parsers#external-scanners) is needed.

V can output C files so write them in V as much as possible.

[2021-09-01 04:13] Mondanzo commented on #189
Because it's an autocomplete bug I attached a gif. I hope this works out
![danzo_1630469536-b78otEkLmS](https://user-images.githubusercontent.com/14519085/131610610-4b231384-8235-4d9e-9df5-f9085d1fa081.gif)

[2021-09-01 04:28] nedpals commented on #189
@Mondanzo thats more than enough. Thanks 🙂

[2021-09-02 18:05] Masynchin opened #198 "Failed installation"
I installed V extension, and then tried to install VLS (from V extension setting `Vls: Enable`).

At first try:
[code]

At second:
[code]

Also, I tried to compile VLS by myself. I use commands from [main branch at last commit](https://github.com/vlang/vls/tree/75f9d8019caf2270ca70710ae147e6f616dfd8de) with `gcc` instead of `clang`.

[code]

Commands below was executed on Windows 7/32bit

[2021-09-02 23:07] yuyi98 commented on #198
[code]

[2021-09-03 03:57] nedpals commented on #52
Not really a priority ATM but I just want to check it out how it goes in the latest update. So far it is now working with the warning message appearing:
![Screenshot from 2021-09-03 11-51-11](https://user-images.githubusercontent.com/7358345/131948094-12702de4-59fb-480b-a069-f7224ae5c84e.png)

Unfortunately, the client immediately shutdown the communication for some reason (maybe it didn't like th

[2021-09-03 06:11] Masynchin commented on #198
How can I do it?

[2021-09-03 06:58] yuyi98 commented on #198
delete .vmodules/cache.

[2021-09-03 08:01] Zymlex commented on #52
Good news. Need a bigger compatibility with the IDE, not just notepads.

[2021-09-03 12:07] Masynchin commented on #198
Same error, even with deleting the whole `.vmodules` folder

[2021-09-03 12:10] Masynchin commented on #198
`v doctor` if it can help:

[code]

[2021-09-04 01:29] nedpals commented on #198
@Masynchin try executing `v wipe-cache` then recompile once again.

[2021-09-04 12:22] Masynchin commented on #198
[code]

[2021-09-05 07:23] nedpals commented on #189
Fixed in https://github.com/vlang/vls/issues/189#:~:text=init%20snippets%20(%23189)-,488f45c,-Write

[2021-09-05 07:23] #189 closed

[2021-09-06 11:12] nedpals commented on #158
Hi, apologies for not making an update for closing this issue. This issue has already been fixed few weeks ago which has been demonstrated in this GitPod recording:

https://user-images.githubusercontent.com/7358345/132208305-2aefe461-6534-4384-a2a5-b385d1a2b0b7.mp4

The case has been the same in the latest version:

https://user-images.githubusercontent.com/7358345/132208600-f53a2919-6263-4f0f-ba

[2021-09-06 11:12] #158 closed

[2021-09-06 11:12] nedpals opened #204 "Errors not highlighted on typing"
Related:
#158
#159
#123

[2021-09-09 14:20] #188 closed

[2021-09-16 10:05] #167 closed

[2021-09-22 07:06] rasa-silva opened #229 "Navigate to definition is not working correctly"
If I cmd+click on `walk` in
[code]
it does nothing.
(it works for builtins like println)

Using latest v and vls on OSX  11.5 and VSCode.

[2021-09-22 07:57] nedpals commented on #229
@rasa-silva is there a minimal code that I can use to reproduce the behavior?

[2021-09-22 08:03] rasa-silva commented on #229
[code]

cmd+click works for `println` but does not for `walk`

[2021-09-22 08:30] rasa-silva commented on #229
I'm sorry, I was pointing to an old build of vls.
The current problem is actually bigger...I point to the vls binary in vscode along with "Enables the language server" and "enable debug".
Vscode instantiates VLS and the log file is created with
[code]
but no functionality of the language server is available and no output "tab" is created for VLS. Also, the message "VLS is a work in progress..." do

[2021-09-22 08:33] yuyi98 commented on #229
It can work for me on Windows.

[2021-09-22 09:04] rasa-silva commented on #229
Ok, sorry for the confusion. I think I found the issue...
1. If I use the custom path to VLS it has the behavior of my last comment. It runs the server but somehow it doesn't seem to connect with VSCode
2. If I use the fetched version of VLS, it has the behavior of my original comment.

The first case seems an issue with the extension. The second seems a problem with the server itself...

[2021-09-22 09:41] nedpals commented on #229
@rasa-silva I just tried it just now and is indeed not jumping to the file. This is something I'm clueless about as to what the actual cause for this (even on the VSCode side, it does not show any error logs) but it is something must be investigated and fixed.

https://user-images.githubusercontent.com/7358345/134320188-479963cf-af20-440c-b94c-78b06c9b003e.mov

[2021-09-22 09:48] rasa-silva commented on #229
Well, at least it's reproducible 😅
and thanks for the quick update!

[2021-09-22 22:14] jxxp9 opened #231 "Crash on V code base"
From VSCode, installed latest V extension
I have vls.exe in C:\ (dowloaded from Github releases as of https://github.com/vlang/vls/commit/56b3f9299a1f74b68cce60c2bd7af19b1476a22c)

It gives this error on keystroke on V source code:

`[Info  - 00:07:25] VLS Version: 0.0.1-56b3f92, OS: windows 64
[Info  - 00:07:25] Client / Editor: Visual Studio Code 1.60.2
[Info  - 00:07:25] Using V path (VROOT): C

[2021-09-23 02:46] nedpals commented on #231
@Piruzzolo There is an ongoing PR (#222 ) that we are trying to complete in order to parse the whole V codebase. May I ask what file in the V folder did you open?

CC @yuyi98

[2021-09-23 09:43] Piruzzolo commented on #231
@nedpals sure, It was blog.v in the vweb tutorial foldet

[2021-09-23 10:51] Nukiloco opened #232 "Building error with jsonrpc"
[code]

[2021-09-23 10:52] Nukiloco commented on #232
From the looks of it, this might be a Vlang error actually since I installed vls into .vmodules.

[2021-09-23 10:56] Nukiloco commented on #232
Yea just installed it into a folder right next to where Vlang is installed and it didn't error out, so this is an issue with installing it in .vmodules though I just got another issue now.

[2021-09-23 12:05] yuyi98 commented on #231
It's ok.

![image](https://user-images.githubusercontent.com/6949593/134503669-59030b39-d28c-4b0d-95c7-c14d880c1fc6.png)

[2021-09-23 13:06] JalonSolov commented on #232
Yes, the "modules bug" has been around for a while.  The way it is usually worked around is to clone the module somewhere else, then create a link in .vmodules pointing to the actual location.

That way everything works.

[2021-09-23 14:29] Nukiloco commented on #232
I moved VLS into a folder called VlangVLS right beside the folder where Vlang is installed just to fix this issue.

[2021-09-23 14:29] #232 closed

[2021-09-23 14:43] Nukiloco opened #233 "VLS generates garbage when trying to autocomplete a field in VSCode"
[code]

Inside the ``fn main()`` function type ``gfx.`` and when you see ``C.sg_bindings`` press tab. It will produce this:
[code]

[2021-09-23 15:26] Piruzzolo commented on #231
@yuyi98 maybe some misconfig on my part? Dos you do something special?

[2021-09-28 12:04] despiegk opened #236 "VLS was working ok, now crashing"
COULD NOT FIND REPORT, tried to find it as instructions say but no crash file

## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
![image](https://user-images.githubusercontent.com/6021844/135083186-da709c70-e3b8-42a3-b8d3-add97f911914.png)

if was working ok, I upgraded today and then it stopped working

[2021-09-28 12:04] despiegk commented on #236
[code]

[2021-09-28 12:05] despiegk commented on #236
https://github.com/omni-sphere/omnigrid_simulator
source code

it was working before

[2021-09-28 12:38] nedpals commented on #236
cc @yuyi98 @hungrybluedev

[2021-09-28 13:05] nedpals commented on #236
@despiegk Hi, I have a question. When did you last update VLS?

[2021-09-28 13:43] nedpals commented on #236
I have pushed an update that might potentially fixed the issue: https://github.com/vlang/vls/commit/cfdaf1677d656346c7a68ab896757feb3ef014dd. Try updating it again and let us know the results.

[2021-09-28 15:21] despiegk commented on #236
fantastic, I tested, its working now, you make my day (-:

[2021-09-28 15:23] #236 closed

[2021-09-30 03:16] despiegk opened #238 "crash of vls, used to be more stable in previous versions, it crashes constantly now"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

## Expected Output

## Actual Output
N/A

## Steps to Reproduce

## Last Recorded LSP Requests
### Request
[code]

### Response
[code]

[2021-09-30 03:16] despiegk commented on #238
![image](https://user-images.githubusercontent.com/6021844/135380379-be78c371-434b-4e20-b27d-db1b9f150fc4.png)

[2021-09-30 04:48] nedpals commented on #238
@despiegk Hi, is it still the same repo as before?

[2021-09-30 04:49] nedpals commented on #238
Sorry. I have seen the file you have used. Will be working on it.

[2021-09-30 07:05] nedpals opened #239 "variables and map entries are registered as functions"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

Unusual behavior in analysis

## Expected Output

Variables should be treated as variables.

## Actual Output

![image](https://user-images.githubusercontent.com/7358345/135403401-4654a6b8-7bec-43cd-8702-0493bce1feb9.png)

## Steps to Reproduce

1. Clone https://github.com/freeflowuniverse/crystallib
2. Open it

[2021-09-30 07:06] nedpals commented on #238
@despiegk I have pushed a temporary fix https://github.com/vlang/vls/commit/cfdaf1677d656346c7a68ab896757feb3ef014dd . Let us know the results.

We have also uncovered a bug which won't affect your experience but you might encounter it later: https://github.com/vlang/vls/issues/239

[2021-10-01 17:05] despiegk commented on #238
I think its better now, doesn't seem to crash as much

[2021-10-02 03:17] despiegk commented on #238
it was better I thought, but today it stopped working completely,
upgraded V, VLS, ...
no log even today, so don't know what happened

[2021-10-02 03:23] despiegk commented on #238
there was a error somewhere, as result the vls did not work any more but this time didn't even tell it was crashing and there was no error log, it just stopped working
after finding the error vls started working again

[2021-10-03 07:14] #233 closed

[2021-10-03 07:14] #92 closed

[2021-10-03 07:15] #118 closed

[2021-10-03 07:15] nedpals commented on #114
Fixed in #240

[2021-10-03 07:15] #114 closed

[2021-10-03 07:18] #47 closed

[2021-10-03 07:20] nedpals commented on #140
I have moved the tree-sitter V folder inside VLS so it should not be a problem anymore to install it.

[2021-10-03 07:20] #140 closed

[2021-10-03 08:00] #168 closed

[2021-10-09 04:24] despiegk opened #242 "vls no longer working"
[vls.log](https://github.com/vlang/vls/files/7314954/vls.log)

whatever I do I cannot get it back to work, newest v, vls, treeparser, ...
build using the 2 methods

it doesn't crash but doesn't work either
used on multiple files

any idea?

[2021-10-09 04:28] despiegk commented on #242
[vls.log](https://github.com/vlang/vls/files/7314957/vls.log)

[2021-10-19 05:47] #242 closed

[2021-10-24 23:26] boonsboos opened #259 "VLS crashing after mere seconds"
## System Information
### V doctor
[code]

### VLS info
I'm using the lastest available version of the V extension for VS Code.
VLS startup output:
[code]

## Problem Description
Everytime I open VS Code to do some programming in V, the language server crashes only seconds after opening the editor.

## Expected Output
I expect the language server to run for at least more than 5 seconds

## Actual

[2021-10-25 07:50] #259 closed, assigned to nobody

[2021-10-26 20:59] danieldaeschle opened #260 "Crash"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

## Expected Output

## Actual Output
[code]

## Steps to Reproduce

## Last Recorded LSP Requests
### Request
[code]

### Response
[code]

[2021-10-28 19:20] VinWare opened #262 "Invalid type [][]string error"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

Opened a .v file with following code in it
[code]

## Expected Output

No issue
## Actual Output

Invalid type [][]string

## Steps to Reproduce

1. Create a V source file in VSCode and add the above code in it.
2. If VLS is running it shows the above error. Following this it also seems to crash, though not cle

[2021-10-29 07:52] Nukiloco opened #263 "Typing println does not show up on the auto complete list"
## Problem Description

I created a new vlang project and typed in ``println`` though nothing appears at all

## Expected Output

``println`` should appear

## Actual Output

``println`` does not appear

## Steps to Reproduce

type ``println`` anywhere

[2021-11-04 09:07] yuyi98 commented on #262
Data type analysis error reporting is disabled.

[2021-11-04 09:07] #262 closed

[2021-11-09 01:12] creepinson opened #267 "void_sym evaluated but not used"
## System Information
### V doctor
[code]

## Problem Description

I tried to compile vls from source with the following commands from the readme...

[code]

It fails to build with the error described below. I have clang version 12.0.1.

## Expected Output

Binary compiled according to the readme.

## Actual Output

![image](https://user-images.githubusercontent.com/11761863/140843264-3e147747-18b

[2021-11-09 01:31] nedpals commented on #267
@creepinson Your version of V is outdated. Update V first and try compiling it again.

[2021-11-09 01:37] nedpals commented on #263
@Nukiloco Can you show the VSCode output of the V Language Server? It should show the location of your V folder (VROOT).

Builtin types and functions won't show if VLS cannot detect the V installation directory.

[2021-11-09 03:41] creepinson commented on #267
That seems to have been the problem, thanks 👍🏼
I was using an outdated AUR package, compiling V from source fixed it.

[2021-11-09 03:41] #267 closed

[2021-11-09 11:02] Nukiloco commented on #263
I just set the installation directory just now.
Upon doing this though, after restarting vls and vscode, ``println`` is still not showing up.

![orlcVqe3k6](https://user-images.githubusercontent.com/16618467/140912697-30f1df72-4afc-4b5e-919a-1afad9a313ec.png)

[2021-11-13 13:48] nedpals commented on #238
Hi @despiegk sorry for the late response. Was the situation improved after a series of updates? So that we can close this issue and create a new one if there are more issues.

We also made the error reports show up after saving for now since we rely on the output given by `v -check`. On-demand diagnostics support is still on going as of this moment: #159

[2021-11-17 11:26] Ekopalypse opened #270 "Allow for __global usage"
Currently vls reports diagnostic error messages when the code uses the __global statement.
I suggest either adding `-enable-globals` to `mut p := ls.launch_v_tool('-enable-globals', '-shared', '-check', input_path)` in general or implementing a way to disable this check.

[2021-11-17 12:08] Ekopalypse commented on #270
... and that revealed that globals are not really handled yet. Files containing the global variables but don't declare them are reported with undefined identifier diagnostics.

[2021-11-18 02:07] nedpals commented on #270
We can add the check in the meantime but it will be enabled in the future once the on-demand diagnostics are fully implemented. Will implement it right now. Thanks @Ekopalypse !

[2021-11-18 02:08] #270 closed

[2021-11-18 03:23] #91 closed

[2021-11-18 03:24] nedpals commented on #88
Closing this as it is not applicable anymore to the current version of VLS.

[2021-11-18 03:24] #88 closed

[2021-11-19 14:27] richardazevedo opened #272 "not start VLS - mac OS M1 and vscode-vlang extension 0.1.11"
a update de vscode extension, but keep with the same trouble.

[vls_report_1637330585.md](https://github.com/vlang/vscode-vlang/files/7570845/vls_report_1637330585.md)

[2021-11-19 15:53] nedpals commented on #272
This is not an issue with vscode-vlang so I thought of moving it here.

@richardazevedo Upon reading the error, are you developing a V project inside a cloud drive?

[2021-11-19 15:59] richardazevedo commented on #272
Yeah, inside a icloud drive, only my tests.

[2021-11-20 00:31] nedpals commented on #272
I see, thanks!

[2021-11-20 03:19] #272 closed

[2021-11-21 06:47] #190 closed

[2021-11-23 03:40] nedpals opened #281 "updater"
At this moment, updating VLS is done via the VSCode extension or though manual download. To improve user experience and to minimize the scope of errors, VLS needs to have an updater to check and update VLS automatically.

[2021-11-24 18:40] boris-741 opened #282 "Trigger Parameter Hints not work"
Ctrl+Shift+Space	editor.action.triggerParameterHints not work for last vls server ( 24.11.21 )
but on mouse hover I see the information I nee
![func_info](https://user-images.githubusercontent.com/8223870/143296029-91728a7a-dcd5-493f-ad1b-fbed272e2cbd.jpg)
d

[2021-11-25 01:11] nedpals commented on #282
Hi, thanks for reporting this. As of this moment, the signature help feature has a very simplified implementation so this issue makes me wanna delve into this further. 😄

[2021-11-25 01:45] #282 closed

[2021-12-07 18:57] lukasl-dev opened #288 "Recurring crashes"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
I was about to use the V programming language in combination with VLS and VSCode, but the server repeatedly crashes.

## Expected Output
Autocompletion of my user input

## Actual Output
Server crashes

## Steps to Reproduce
[code]
This is the content of my main.v file.

## Last Recorded LSP Requests
[code]

[2021-12-08 03:13] nedpals commented on #288
cc @yuyi98

[2021-12-08 03:21] yuyi98 commented on #288
I don't have that problem.

I think vlang is best not installed on `C:\Program Files`.

[2021-12-08 10:46] nedpals commented on #288
@yuyi98 I just remembered crash reporting is not yet working on Windows because of the missing WIP stufff in https://github.com/vlang/v/blob/master/vlib/os/process_windows.c.v. This should probably be done immediately so that we can identify this problem.

[2021-12-08 11:38] yuyi98 commented on #288
@nedpals  Yes, you're right, I'll try to resolve it.

[2021-12-09 05:37] KeitoTobi1 opened #289 "Support `$tmpl` Lint."

[2021-12-11 06:47] nedpals commented on #289
Hi, are you referring to support for analyzing generics?

[2021-12-11 08:48] KeitoTobi1 commented on #289
Yes.

[2021-12-11 09:09] nedpals commented on #289
Oh. Definitely it will be implemented in the soonest time 😃

[2021-12-11 20:12] dxps opened #292 "Code completion stops working"
Dear VLS team,

As mentioned on Discord, for now - being new to V - I'll try to help by just raising and documenting discovered issues. Later, I want to contribute with code fixes. So, here is my first issue.

## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

Opening this simple example using `vweb` listed below, I expect that code completion / intellisense to

[2021-12-11 20:29] dxps opened #293 "After VSCode is closed, VLS procs do not stop and become CPU hoggers"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

As described in the previous #292 issue, as code completion stops working, I close (not restart) VSCode.
The two VLS processes remain active and one of them starts hogging the CPU (and system fan kicks in, ofc):
[code]
Here is an `htop` sample:

![image](https://user-images.githubusercontent.com/14140226/145690

[2021-12-12 05:46] dxps commented on #293
Tested with the latest version, compiled from source, that is `vls version 0.0.1.9bbb6a9`.

I just open VSCode in that simple repo. As you can see, no `.v` is open, just the Settings window (that opens from the last VSCode session):

![image](https://user-images.githubusercontent.com/14140226/145701669-d740f430-65e8-4471-9daf-9d4252d8888c.png)

Closing VSCode, and the VLS processes are still runni

[2021-12-12 05:54] nedpals commented on #293
I'll reopen this issue for the problems regarding CPU usage after inactivity.

[2022-01-10 11:01] nedpals opened #298 "Connection problems in Emacs lsp-mode"
## System Information
### VLS info
[code]

## Problem Description
There's a problem connecting VLS to Emacs' [lsp-mode](https://emacs-lsp.github.io/lsp-mode/).

## Expected Output

Connected and initialized properly.

## Actual Output

Hangs when entering `initialize` phase.

## Steps to Reproduce
Must install [v-mode](https://github.com/damon-kwok/v-mode) and [lsp-mode](https://emacs-lsp.github.i

[2022-01-12 01:36] nac5604 opened #301 "VLS Exited with Status Code 139 on Sublime"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
Tried to edit [this code](https://gist.github.com/nac5604/439f8a93fbf6ae49e5673b069eb86f05), but Sublime text responded with [this error window](https://imgur.com/aQZJAqh).

## Expected Output
VLS and Sublime should properly provide suggestions from V.

## Actual Output
Sublime displays [this error window](https

[2022-01-13 03:04] #293 closed

[2022-01-14 04:53] #110 closed

[2022-01-15 17:32] tzSharing opened #302 "vs code cannot enable vls, prompting "cli execution error: feature "v.run" not found""
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
After starting vs code, it directly displays：

[code]
![gcc构建vls](https://user-images.githubusercontent.com/90680948/149631232-0f856935-5fb9-49f4-b4fd-8dc76641f55e.jpg)

![vls版本](https://user-images.githubusercontent.com/90680948/149631346-034fe611-b3f2-4bc2-9487-2fb904af0326.jpg)

![20220116010237](https://user

[2022-01-15 17:49] tokobaku opened #303 "VLS crashes when the source code is invalid"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
VLS terminates with error when there's an error in V source code.

Example (invalid) code that caused the error and generated this report file:
[code]

## Expected Output
VLS doesn't terminate. I keep getting autocompletion and error is highlighted.

## Actual Output
[code]

## Steps to Reproduce
- Start VSL by

[2022-01-24 07:43] tokobaku commented on #303
Resolved by manually installing the newest from the source code.

[2022-01-24 07:43] #303 closed

[2022-02-06 18:25] jedth opened #304 "Crash on editing .v file"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

I made a new project with `v new` and opened the generated v file. Started to edit the file and vls crashes. It also crashes after a few seconds if I edit another part of the .v file.

## Expected Output

vls doesn't crash

## Actual Output
[code]

The output in vscode is:
[code]

## Steps to Reproduce

- make

[2022-02-10 16:57] kendfss commented on #301
Your gist seems to be private. Could you make it public please?
According to [this](https://tldp.org/LDP/abs/html/exitcodes.html) it's fatal error signal 11.

Sorry I can't be more help, that's all I know about it.

I am wondering though, are you using/have you written any of an LSP package for sublime?
I've been trying to use vls with Sublime but (apart from one time when I created a fixed length

[2022-02-14 12:13] alii opened #307 "Unable to run `build.vsh` when building from source"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
Unable to build:
<img width="1144" alt="image" src="https://user-images.githubusercontent.com/25351731/153862250-50760c93-f418-4ac9-ab7f-504bd2d30ac5.png">

## Expected Output
It builds

## Actual Output
[code]

## Steps to Reproduce
Clone e4ae12f117e7241a61db6a0c11e184d6ca0fe6b3 & run `v run build.vsh clang`

#

[2022-02-14 13:13] skarab42 opened #308 "Request textDocument/codeLens failed"
While testing VSL I have an error that occurs in a strange way. When I save a file for the first time (after a modification) all goes well, the file is saved and formatted correctly. But when I start to edit the file again I get the following error in the V Language Server output.

<details>
  <summary>V Language Server output</summary>

[code]
</details>

Plus the [vls.log](https://github.com/vla

[2022-02-15 03:50] nedpals commented on #307
@alii Based on the V version, your version has been outdated. Please use the latest version of V and try again.

[2022-02-15 05:49] alii commented on #307
Ahh I apologise, that should've been the first thing I should have checked! I installed the latest from home brew with the assumption it would be up to date 😅 thank you!! sorry for wasting your time

[2022-02-15 08:55] #307 closed

[2022-02-18 08:16] aditya1944 opened #309 "vs code extension not working on macos"
[vls_report_1645123809.md](https://github.com/vlang/vscode-vlang/files/8095312/vls_report_1645123809.md)
[vls_report_1645125562.md](https://github.com/vlang/vscode-vlang/files/8095313/vls_report_1645125562.md)
[vls_report_1645171977.md](https://github.com/vlang/vscode-vlang/files/8095314/vls_report_1645171977.md)

[2022-02-22 19:27] MElborolossy opened #310 "Folding not worrking with vscode"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

Folding not working with VSCode, when I disable it, default VSCode folding works, and it is fine for me.

## Expected Output

Folding working without problem.

## Actual Output

Folding not working.

## Steps to Reproduce

- Open VSCode on any v project and vls enabled
- Folding not working
- Add `folding_range

[2022-03-10 19:46] andrey-mouk opened #311 "Add Support for Neovim (LSP or Coc)"
Add Support for Neovim (LSP or Coc)

[2022-03-13 02:49] nedpals commented on #311
Hi, not sure if this is the one you're looking for but here is the instructions for nvim-lspconfig: https://github.com/neovim/nvim-lspconfig/blob/master/doc/server_configurations.md#vls

[2022-04-06 20:37] WilliamBehrens opened #312 "VLS crashes when used with the vscode extension"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

## Expected Output

## Actual Output
[code]

## Steps to Reproduce

## Last Recorded LSP Requests
### Request
[code]

### Response
[code]

[2022-04-15 20:55] djboboch opened #313 "VLS crashes vscode on creating new line"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

When starting the VLS server it runs normaly. However, when I start ending a source file, add a newline, enter, write code. I get the following error.

## Expected Output

VLS runs without crashing.

## Actual Output
[code]

## Steps to Reproduce

I am using ubuntu on  **WSL2** on windows 11 PRO build Version 1

[2022-04-16 03:17] dawsbot opened #314 "Error: Connection got disposed. Critical Language Server Error"
After enabling the `language server (alpha)` in my VSCode settings, I've found the extension dies immediately upon saving of any invalid V file.

[code]

Luckily I can restart the V language server and it works immediately but it's a total failure after saving any invalid file, which defeats the point of IDE language server support.

VSCode Output:

[code]

---

Specs:

MBPro Mac M1 Max. MacOS Mon

[2022-04-21 17:53] Sarctiann opened #318 "I don't know how use VLS with VSCode in Linux(64) correctly"
## I did the following:

0. I have Linux with VSCode running fine.
   ---
1. I installed V on my system vía github source and building
2. From here I tryied two things:
    1. install VLS via V-VSCode extension...
    2. build it from github and configure the vscode extension to point the custom path
    Neither of them worked

This is the report:

---
---

## System Information
### V doctor
[code

[2022-04-23 07:41] despiegk opened #319 "can't compile on OSX m.1"
all instructions as followed on home page

[code]

[2022-04-23 07:42] despiegk commented on #319
docu says there are releases for m.1
can't find, only i64

[2022-04-23 07:49] despiegk commented on #319
the i64 version seems to work on m1, maybe good idea to mention
the plugin to visual studio says it can install, but not for me
gives errors

[2022-04-23 10:08] despiegk commented on #319
ignore my V wasn't updated

[2022-04-23 10:08] #319 closed

[2022-04-23 13:53] lnxcz opened #321 "VLS keeps crashing when file is edited"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
After installing VSCode extension and enabling VLS in settings, every time I open any V file vls will crash.

## Expected Output
Error highlighting, formatting and other things language server should do.

## Actual Output
[code]

## Steps to Reproduce
Same as written in description

## Last Recorded LSP Requests

[2022-04-24 04:30] Sarctiann opened #322 "VLS autocompletion for other own modules or warns and errors in unsaved files"
## VLS don't suggest autocompletion for other own modules

I have something like this:

[code]
---

[code]
---

[code]

## VLS don't shows warns and errors in unsaved files

I am not going to dwell on this, as in the previous
... the issue is that i can write wrong code, declare unused vars, forget to pass arguments... and not know them until i save file changes

[2022-04-24 07:20] Krotki commented on #322
Hej hej, I think it would much better for communication to split this issue into 3 separate ones.

[2022-04-24 13:07] JalonSolov commented on #322
Yes, please.  It is easier to focus on fixing a specific issue, than working on multiples at once.

[2022-04-25 12:44] Sarctiann commented on #322
yeah sorry... I was avoiding the github issues from last time... so now I put it all together.

# I'm going to divide it into 3

[2022-04-25 12:46] Sarctiann opened #324 "VLS autocompletion for other own modules"
I have something like this:

[code]
---

[code]
---

[code]

[2022-04-25 12:50] Sarctiann opened #325 "Warns and errors in unsaved files"
I can write
* wrong code
* declare unused vars
* forget to pass arguments...
## and not know them until i save file changes

In other words, analyzer seems to be lazy while editing.

[2022-04-25 12:52] Sarctiann opened #326 "array `.map` and `.filter`methods not appearing in autocomplete"
Arrays methods `.map` `.filter` and all others that implements `it`
this methods have a placeholder in builtin [Look here](https://github.com/vlang/v/blob/9355048b6c37d04b961bcc06b32746b37f873e4c/vlib/builtin/array.v#L683)

## should be a way to get to include them on the autocomplete suggestions

[2022-04-25 17:06] Krotki commented on #324
What will happen if you change `Rectangle` to
[code]

[2022-04-25 17:11] Krotki commented on #326
I briefly looked into it and symbols are not created for those function. Will try to narrow it down later today.

[2022-04-25 19:47] Sarctiann commented on #324
i tried both, but don't work. Actually I have as public in my code.. I forget write pub here. I'll correct that

[2022-04-25 22:06] Sarctiann commented on #324
suppose i have:

[code]

I've tried in Wondows, and seems to work parcially:
---
## Case 1
[code]

VLS show:
* test1

---
## Case 2
[code]

VLS show:
* test1
* test2

---

# Later I'll do more tests on Linux

[2022-04-26 11:07] Sarctiann commented on #324
### yes I was no crazy... In my Linux, doesn't work even if i declare all as public!

I tried it, with 3 different test project...

Then I restarted VLS few times and apparently worked. Because I had declared ALL as public VLS showed me x, y, test1, test2 and test3.

So then I changed the visibility of x, y, and test2. And VLS kept showing me all the staff...
So I restarted VLS few more times and

[2022-04-27 01:49] Moncheeta opened #327 "Wont Compile"
## System Information
I'm running Manjaro Linux.

### V doctor
OS: linux, "Manjaro Linux"
Processor: 6 cpus, 64bit, little endian, Intel(R) Core(TM) i5-9400F CPU @ 2.90GHz
CC version: cc (GCC) 11.2.0

getwd: /home/moncheeta/Downloads/vls
vmodules: /home/moncheeta/.vmodules
vroot: /usr/lib/vlang
vexe: /usr/lib/vlang/v
vexe mtime: 2022-04-27 01:27:06
is vroot writable: false
is vmodules writable: tr

[2022-04-27 02:23] JalonSolov commented on #327
That is a positively _ancient_ version of V (from Aug 30, 2021).  You'll definitely need to update to the latest version if you want to compile vls.

If you installed the AUR version, that's why.

You'll be a lot happier with V by removing what you have, and installing using these instructions:  https://github.com/vlang/v#installing-v---from-source-preferred-method

Yes, I know this works as I'm a

[2022-04-27 03:25] Moncheeta commented on #327
That worked. I didn't know that the AUR version was out of date.

[2022-04-27 03:25] #327 closed

[2022-04-30 18:36] nassah221 opened #328 "Installing vls from vscode does not work"
## System Information
Windows 11

### VLS Error
[code]

## Problem Description
I installed Vlang. Downloaded the vscode Vlang extension, created a .v file. Enabled vls from the extension settings then vscode prompted to install vls upon which it failed and the error output is mentioned above.

## Steps to Reproduce

1. Install v
2. Download the vls vscode extension
3. Enable vls from the extension

[2022-05-01 04:21] FireAndIceFrog commented on #321
I think I have a simmilar problem, the language becomes very difficult to work with when there isnt a langauge server :/

[2022-05-01 10:13] angel-git commented on #328
On mac m1 enabling the VLS on visual studio fails with:

[code]

[2022-05-01 15:33] medvednikov commented on #321
@[lnxcz](https://github.com/lnxcz) can you please paste the V code it crashed on?

[2022-05-02 03:56] nedpals commented on #328
@nassah221 I suggest you use our daily builds here in the meantime: https://github.com/vlang/vls/releases

@angel-git Please submit a separate issue. Thanks

[2022-05-02 03:58] nedpals commented on #321
@keiviv This issue is Linux-specific. Please post a separate issue for your problem. Thanks :smiley:

[2022-05-02 04:00] nedpals commented on #321
@lnxcz Can you post a code that we can use to reproduce this problem? This will help us solve your problem without messing your codebase for privacy concerns. Thanks

[2022-05-02 11:54] lnxcz commented on #321
The code can be anything, in my case it was a basic hello world. I noticed that  when I reopen the project vls will work and show errors and whatsoever, but even inserting a single character it'll crash.

[2022-05-07 19:30] fatihusta commented on #321
Always crashing.  :(

[code]

[2022-05-08 05:07] medvednikov commented on #321
@fatihusta can you post the most minimal example of the V source code that resulted in the crash?

[2022-05-08 05:53] fatihusta commented on #321
I'm using the tutorial project of v. https://github.com/vlang/v/tree/master/tutorials/building_a_simple_web_blog_with_vweb

I think I reproduce the problem. It's strange.
Crashing vls when I press the backspace/delete button on keyboard.
For example.
[code]
Keeps working If I didn't press the backspace/delete button.

[2022-05-08 06:31] medvednikov commented on #321
Thanks, will fix asap.

[2022-05-08 09:03] fatihusta commented on #321
Thank you for your quick response. 👍

[2022-05-16 10:19] FireAndIceFrog commented on #321
Any progress on this?

[2022-05-17 02:40] nedpals commented on #321
@fatihusta @FireAndIceFrog i have checked this one. please try again using our [prebuilt binaries](https://github.com/vlang/vls/releases/tag/latest) and follow [this procedure](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives) on how to use the recently downloaded binary into VSCode.

it's more likely that the vscode extension used the old way of compiling VLS which is prone to c

[2022-05-17 16:17] vanceism7 commented on #321
Just built vls from source and hooked it up to vscode - i'm not experiencing any more crashes so far. Seems like this is basically fixed in the newest code already. Cheers!

[2022-05-18 15:41] fatihusta commented on #321
I downloaded prebuilded vls binary from github and it worked. Thanks.

[2022-05-19 01:28] batshalregmi opened #332 "Starting VLS fails"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
Installed the V visual studio code extension and tried to enable the language server and it errors out.

## Expected Output
The V language server starts up.

## Actual Output
The language server errors out.
[code]

## Steps to Reproduce
1. Install extension
2. Enable VLS server
3. You get output of the server cl

[2022-05-19 06:04] nedpals commented on #332
I'll take a look into this, thanks 🙂

[2022-05-19 06:06] nedpals commented on #328
Closing this as this should've been fixed in the latest version of vscode-vlang : https://github.com/vlang/vscode-vlang/commit/a9cc6b7f5f19d22d4299d43c49c03be4e6a329e4

[2022-05-19 06:06] #328 closed

[2022-05-19 06:10] nedpals commented on #310
@MElborolossy Just a followup, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:12] nedpals commented on #309
@aditya1944  Just a followup, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:13] nedpals commented on #314
@dawsbot Hi! Just a followup, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:13] nedpals commented on #313
@djboboch Hi! Just a followup, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:13] nedpals commented on #312
Just a followup, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:14] nedpals commented on #312
@WilliamBehrens Hi! Just a followup, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:14] nedpals commented on #318
Hey @Sarctiann just a follow-up, have you tried updating VLS? If not, you may download the prebuilt binaries [here](https://github.com/vlang/vls/releases/latest) and follow these [steps](https://github.com/vlang/vls#vscode-vscodium-and-other-derivatives). Thanks 🙂

[2022-05-19 06:20] nedpals commented on #321
@lnxcz Before I close this issue, just a follow up, have you tried updating VLS?

[2022-05-19 08:06] fatihusta commented on #321
By the way. I tried the build from scratch from vscode but didn't worked. (Ctrl+shift+P then V: Update vls)

I will try build from source code manually today.

[2022-05-19 11:57] #318 closed

[2022-05-19 12:38] MElborolossy commented on #310
I know that vls still in development phase, but it still crash, auto-complete not good enough, goto function or variable work randomly.
Kindly, vls needs a lot of work to be usable.

[2022-05-19 16:40] #314 closed

[2022-05-20 14:44] lnxcz commented on #321
Yes, I updated VLS and it worked. Thank you for your help!

[2022-05-21 01:53] nedpals commented on #321
Great. Will close this issue then 😄

[2022-05-21 01:53] #321 closed

[2022-05-21 02:59] nedpals commented on #310
Thank you for your feedback. Your concerns are valid and they contribute to the stability of VLS.

I will be closing this issue since https://github.com/vlang/vls/commit/2fe3f734d9615cb7c5eb8001ed5b24e6f7cb3c2a has fixed this which I tried.

[2022-05-21 02:59] #310 closed

[2022-05-22 20:30] fatihusta commented on #321
Sorry for late response.
I build from source and it worked.
Thanks.

[2022-05-26 11:27] Ekopalypse commented on #332
The problem seems to occur only when vls is used in IO mode.
Once it is set to TCP it no longer crashes, but unfortunately this mode is not an option under Windows either, 100% of two cores are used and no diagnostics or suggestions are displayed.

The issue with the crash is because of a nil string
[code]
which seems to have its origin in [vls.v](https://github.com/vlang/vls/blob/e2f6f92561b89179

[2022-05-26 21:07] Mariobob commented on #332
Setting it to TCP does fix the problem. Thank you.

[2022-05-26 21:07] #332 closed, assigned to nobody

[2022-05-29 03:26] nedpals commented on #332
@Mariobob glad you were able to fix it 🙂

@Ekopalypse The nil string issue should've been fixed but I'll try it again (which should be this https://github.com/vlang/vls/commit/b1e06022eea54dc95b3d45c3aeb4c005aff5dce2)

 Basically when a server receives the request, the request is decoded and passed on to a handler which is in this case `handle_jsonrpc`. The nil string issue might be that the strin

[2022-05-29 03:49] #238 closed

[2022-05-29 09:08] Ekopalypse commented on #332
@nedpals
Due to unfortunate events that have happened recently and general attitudes that some of the decision makers keep displaying, I have decided to turn my back on the community. I would like to explicitly emphasis that I do not mean you by this, but please understand that,  for the time being, I do not want to be part of the community any more.
Stay healthy and good luck for your further pro

[2022-06-03 02:21] lydiandy opened #335 "The comment in Chinese will change to garbled character"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
here is the example:
[code]
When I add comment with Chinese, I format the code with vscode, the first time is ok.
But when I edit the comment, and reformat, the comment change to garbled character.

I  use v fmt  tool, The result  is always correct.

## Expected Output
[code]

## Actual Output
module main

fn ma

[2022-06-03 23:08] #335 closed

[2022-06-04 01:53] lydiandy commented on #335
It works, thank you~

[2022-06-05 11:36] offbrok opened #337 "Doesn't work on Windows. Infinite loading."
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
Doesn't work on Windows.
Endless loading of autocomplete.

## Actual Output
Infinite loading.
![image](https://user-images.githubusercontent.com/25367108/172048557-b50b1af7-3e7d-4e58-97f3-ca1e1362bd5c.png)

[2022-06-06 01:34] ddkwork opened #339 "Can not Go to method and auto import"
![Screenshot_20220606_093300_com.realvnc.viewer.android.jpg](https://user-images.githubusercontent.com/19886504/172080324-479df910-c3d2-4fa0-b998-fee0891f2593.jpg)

[2022-06-06 06:00] nedpals commented on #339
@ddkwork hi! can you provide a better image for this? github always times out upon serving the image. thanks!

[2022-06-06 06:01] nedpals commented on #339
as for auto import, this is currently not yet supported.

[2022-06-06 20:17] varholak-peter opened #340 "Crash reports destination"
The crash report logs are currently dumped into the home directory, however that creates quite a clutter.
Ideally they'd be put in a place where they make logical sense without the need to use the User directory directly.

My proposals would be one of:
- `/home/.vls/logs` or `/home/.vls/crash_reports`
- `/var/log/vls` - this is a pretty idiomatic place to store logs

I don't have much Windows expe

[2022-06-09 05:04] #260 closed

[2022-06-09 05:04] #288 closed

[2022-06-09 08:40] #198 closed

[2022-06-09 08:42] #300 closed

[2022-06-09 08:44] nedpals commented on #45
Closed. The default memory management, Boehm GC, is now used by default.

[2022-06-09 08:44] #45 closed

[2022-06-09 08:44] nedpals commented on #87
Closed. Should be fixed on the latest version of VLS.

[2022-06-09 08:44] #87 closed

[2022-06-09 08:45] #68 closed

[2022-06-11 02:23] lydiandy opened #346 "build failed when run v build.vsh in windows"
## System Information
### V doctor
[code]
OS: windows, Microsoft Windows 10 ͥİ v19044 64 λ
Processor: 8 cpus, 64bit, little endian, Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz
CC version: Error: exec failed (CreateProcess) with code 2: 系统找不到指定的文件。
 cmd: cc --version

getwd: D:\v\vls
vmodules: C:\Users\abc\.vmodules
vroot: D:\v\v
vexe: D:\v\v\v.exe
vexe mtime: 2022-06-11 01:47:38
is vroot writable: t

[2022-06-11 08:31] nedpals commented on #346
@lydiandy for windows, you should specify the compiler you are using (e.g. `v run build.vsh gcc`)

[2022-06-11 09:27] lydiandy commented on #346
@nedpals  I update the latest vls code，and rerun the build.vsh:
[code]
here is the new error: v expects that `gcc` exists, but it does not

But I try to build cmd/vls with the following v command，It successed:
[code]
maybe something wrong with build.vsh

[2022-06-11 09:39] nedpals commented on #346
you had executed it wrong though. it should be `v run build.vsh gcc` and it will do the same as the manual compilation you did.

[2022-06-11 09:41] lydiandy commented on #346
here is the result:
[code]

[2022-06-11 10:15] nedpals commented on #340
Thanks for the concern 😃  it is indeed a clutter and putting it into a folder would make more sense. As for the location your proposal of `<home dir>/.vls/crash_reports` makes much more sense since It would be very easy to find compared to the alternatives. We'll do this today.

[2022-06-11 10:30] nedpals commented on #346
OK, i think i misplaced that code for outputting it lol. Will change that, thanks

[2022-06-11 11:08] #340 closed

[2022-06-11 11:08] #12 closed

[2022-06-11 11:31] asampal commented on #346
Pulled the latest and getting:

[code]

[2022-06-12 08:37] nedpals commented on #116
Closed. Newer versions of VLS now uses a custom analyzer instead of `v.checker`.

[2022-06-12 08:37] #116 closed

[2022-06-12 18:17] #346 closed

[2022-06-14 19:13] #312 closed

[2022-06-15 01:14] ddkwork commented on #339
Ok, thank you. And  how to debug v code?

[2022-06-21 02:43] #339 closed

[2022-06-25 00:17] itsMapleLeaf commented on #308
I'm temporarily working around this by reverting to an earlier commit:
[code]

[2022-06-25 02:54] nedpals commented on #308
@itsMapleLeaf can you post yours on a separate issue? this issue can be similar but it is using an older commit of VLS.

[2022-06-25 16:39] itsMapleLeaf commented on #308
After updating the vls, I'm no longer running into this :+1:

[2022-06-25 17:37] itsMapleLeaf opened #357 "Formatter is working with incorrect file contents"

[2022-06-26 00:02] nedpals commented on #308
That's great to hear. We'll close this issue 🙂

[2022-06-26 00:02] #308 closed

[2022-06-26 08:49] BlueStaggo opened #358 "VLS randomly stops working"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
VLS just works for a few seconds and then stops working for some reason. Sometimes I get this error: `VLS: Error communicating with the language server: Error: write EPIPE: undefined.`. I've tried setting timeout to 0 and switching the connection mode to tcp and VLS still will not work consistently.

## Expected

[2022-06-26 08:50] BlueStaggo commented on #358
Also got this error from using tcp: `VLS: Error communicating with the language server: Error: write ECONNRESET: undefined.`

[2022-06-26 10:14] BlueStaggo commented on #358
I would also like to mention that I tried out Sublime Text and VLS constantly quit with status code 1.

[2022-06-26 14:08] BlueStaggo commented on #358
Nevermind it is working consistently now.

[2022-06-26 14:08] #358 closed

[2022-06-27 03:13] nedpals commented on #357
@itsMapleLeaf does it occur consistently? i can't seem to reproduce it properly

[2022-06-27 03:13] #311 closed

[2022-06-27 06:59] nedpals commented on #357
nevermind i have reproduced your issue and identified the problem. will fix this within today. thanks!

https://user-images.githubusercontent.com/7358345/175878507-47112e99-883c-4131-a0b4-6adbd90c6b6b.mov

[2022-06-27 18:03] medvednikov commented on #357
Great job @nedpals !

And thanks for the report @itsMapleLeaf

[2022-07-02 04:47] AndreMenew opened #360 "High cpu and ram consumption"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
The system is consuming too much memory and power.

## Expected Output

Low resource consumption.

## Actual Output

<h3> <a href="https://anonfiles.com/t31chaucyf/vls_log">vls.log</a> </h3>

![vls](https://user-images.githubusercontent.com/95880914/176986568-2a3be753-026b-44fd-ba6b-a993aca3b16a.gif)

## Steps t

[2022-07-04 03:14] asampal commented on #360
I'm also seeing this in Windows with the CI-built vls executable.

![image](https://user-images.githubusercontent.com/281639/177075299-174a15b9-9af0-42f9-9f3c-69e65970e9ad.png)

[2022-07-04 03:50] asampal commented on #360
Some additional info:

When I enable/disable the language server debug mode there's an error notification.

![image](https://user-images.githubusercontent.com/281639/177078278-ada4a94e-8c58-4e4e-88e0-639b70abbb88.png)

This happens despite the language server running (see the extension's output, above).

[2022-07-04 04:43] nedpals commented on #360
i just installed the Windows Performance Recorder on my windows vm which i can confirm. will try to resolve this issue immediately

![image](https://user-images.githubusercontent.com/7358345/177082849-6d6d31d8-c191-4d99-adf7-e70fdc51ebf5.png)

[2022-07-05 05:23] #309 closed

[2022-07-05 06:34] nedpals commented on #360
Result after d5db5b7

![Screenshot 2022-07-05 142205 after d5db5b7](https://user-images.githubusercontent.com/7358345/177264543-2c82f56b-83c6-40d3-b9f4-40a779497333.png)

[2022-07-05 06:39] nedpals commented on #360
However, when I tried executing VLS in "child" mode (without crash reporting and etc), this is the result:
![Screenshot 2022-07-05 142532 on child](https://user-images.githubusercontent.com/7358345/177264787-7b171ac7-e46b-4a8c-a63e-88214f899085.png)

CPU utilization is low on standby and up to 6% if there's activity.

[2022-07-05 09:18] #360 closed

[2022-07-06 00:51] nedpals commented on #360
@asampal Just a follow-up regarding your issue, this might have been fixed in https://github.com/vlang/vls/commit/7610a0a879b7ef6105412ef45474197ea6c4d85a please confirm.

If not, please create a separate issue so that we can track it properly. Thanks :)

[2022-07-06 00:55] #313 closed

[2022-07-06 00:55] nedpals commented on #313
Closed. It should be fixed in the later versions of VLS.

[2022-07-06 00:57] nedpals commented on #302
Closed. This should've been fixed in the newer versions of vscode-vlang and VLS.

[2022-07-06 00:57] #302 closed

[2022-07-06 00:59] nedpals commented on #325
Closed. Duplicate of #204.

[2022-07-06 00:59] #325 closed

[2022-07-06 01:11] asampal commented on #360
Thanks, @nedpals - this has resolved the problem wrt to high CPU and I/O for me as well.

[2022-07-06 07:58] nedpals commented on #337
Hi. A user have experienced a similar issue to this and have pushed https://github.com/vlang/vls/commit/95b446e8b4f3a7723de285dc177eede7a2238f31. Would love to know if the issue still persists. Thanks 😃

[2022-07-06 11:02] yochem opened #366 "Logs are written to $CWD/vls.log instead of language client log"
I'm using the current version of vls with NeoVim's LSP. This creates a `vls.log` file in my current working directory:

[code]

This creates clutter in my source code folder. All other LSP logs can be found in the same file:  `~/.local/state/nvim/lsp.log`. Neovim also reports that this is the language server log file:

![image](https://user-images.githubusercontent.com/23235841/177536798-2d30909f-

[2022-07-06 11:36] yochem opened #367 "Support XDG base directory specification for ~/.vls"
To declutter the home directory, it would be nice to respect the [XDG base directory](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) environment variables ($XDG_CONFIG_HOME, $XDG_CACHE_HOME, $XDG_DATA_HOME, $XDG_STATE_HOME), instead of writing to ~/.vls. Another option would be to use v's `os.config_dir()` and `os.cache_dir()` if it's just config or cache files (but

[2022-07-07 15:58] zeozeozeo opened #368 "VLS crashes after 5-10 minutes of using it with VSCode."
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
After using VLS in VSCode for about 5-10 minutes, VLS crashes.

## Expected Output
Not having an error.

## Actual Output
[code]

## Steps to Reproduce
Open Visual Studio Code with VLS enabled in the V extension and start editing the file for some time.

## Last Recorded LSP Requests

[2022-07-07 17:49] zeozeozeo commented on #368
Here's the error in the error report that VLS produces:
[code]

[2022-07-08 01:22] nedpals commented on #368
@zeozeozeo seeing the panic, what was the last thing you did when you edit your source code? (example: did you add two characters or deleted a word)

this would help me reproduce the error and solve it. thanks :)

[2022-07-08 04:43] zeozeozeo commented on #368
Just tried it again and the error happened when I added a new line.

[2022-07-08 14:37] offbrok commented on #337
Okay, I'll check it out the other day and give you feedback.

[2022-07-08 18:40] offbrok commented on #337
@nedpals I checked. Problem solved, thank you.

[2022-07-08 18:44] #337 closed

[2022-07-11 02:02] nedpals commented on #281
Closed. See https://github.com/vlang/v/pull/15009

[2022-07-11 02:02] #281 closed

[2022-07-15 05:55] sanathusk opened #369 "Add support for inlay hint for vlang in VS Code"
Many languages like Javascript/ typescript, rust(through rust-analyzer VS code extension) provide support for inlay hint in VS Code as shown below.inlay hint provides hints for type of variable defined in a different colored text as shown below:
![image](https://user-images.githubusercontent.com/19380158/179159864-8639d9e5-4cef-46ef-b65d-93ef06624dcc.png)

The inlay hints are optional can can be e

[2022-07-15 08:55] nedpals commented on #369
Thanks for your suggestion! Currently we are suppkrting only with a version of Language Server Protocol that does not have inlay hints yet but rest assured we will be slowly migrating to a new version that supports the said feature.

[2022-07-15 18:54] itsMapleLeaf commented on #357
I actually ended up running into this again :smiling_face_with_tear:

I get this notification on save after [toggling the quotes](https://marketplace.visualstudio.com/items?itemName=BriteSnow.vscode-toggle-quotes). Here you can see the actual source code, vs. the code that it's trying to format

![image](https://user-images.githubusercontent.com/19603573/179291693-3dde983f-9257-4404-a530-95bb965bf

[2022-07-17 16:59] kiwimoe commented on #368
Can confirm that, having the same issue with me too.

[2022-07-17 17:20] rilysh opened #370 "VLS server never respawn after being randomly closed in VSCode"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

After editing for certain times VLS automatically close the connection and with the output `Connection to server got closed. Server will restart.` But the server never restart until I manually do it. It's happening in every few minutes, therefore it's being impossible to use VLS

## Expected Output

VLS should

[2022-07-24 05:29] nedpals commented on #368
@kiwimoe @zeozeozeo Hi, sorry for the late response was on a break. I have encountered issues on my side and fixed it in https://github.com/vlang/vls/commit/5251fe7c586f083e6474a9dccd0928a1e4e29385 . Let me know if it fixed your issues before we can close it. Thanks! 😃

[2022-07-26 07:56] nedpals commented on #166
fixed in https://github.com/vlang/vls/commit/e694bb236093ebc231d68f7af2064bb5faea6826

[2022-07-26 07:56] #166 closed

[2022-07-26 15:47] nedpals commented on #324
@Sarctiann I have just revisited your codes, on the first example it shows fine:
![image](https://user-images.githubusercontent.com/7358345/180957305-d05448f8-6566-48a4-ac03-aec479baa1c5.png)

As for others https://github.com/vlang/vls/commit/34736e18c38c843d7ae5436e1614c91893c19dcc should fix it. (I have yet to fix the symbol import issue)

[2022-07-30 10:07] #112 closed

[2022-07-30 10:08] nedpals commented on #239
Closed. Cannot reproduce it on latest version of VLS

[2022-07-30 10:08] #239 closed

[2022-07-30 10:09] nedpals commented on #304
Closed. Should be fixed on the latest versions of VLS.

[2022-07-30 10:09] #304 closed

[2022-07-30 10:10] nedpals commented on #204
Closed in favor of #123. Also, own in-demand semantic analyzer now available at `--enable=analyzer_diagnostics`

[2022-07-30 10:10] #204 closed

[2022-07-30 10:21] medvednikov commented on #112
@nedpals why not planned?

[2022-07-30 10:30] nedpals commented on #112
I assumed that the module used a lot of features which broke on the recent versions of V hence "not planned" in a sense of "cannot reproduce" it. But seeing that it worked properly, these should be closed as "completed" instead.

![image](https://user-images.githubusercontent.com/7358345/181906339-bf5fef07-fc38-4a0f-9f49-be2d80f987a8.png)

[2022-07-30 10:33] nedpals commented on #109
Can't reproduce it now so it seems that it got fixed?
![image](https://user-images.githubusercontent.com/7358345/181906453-8c59aa8f-cd00-4357-bf21-0ef3cc704e8c.png)

[2022-07-30 10:49] medvednikov commented on #112
Great :)

[2022-07-31 07:20] #109 closed

[2022-07-31 07:31] nedpals commented on #292
Issue persists when completion is executed after go to def is executed (either accidentally or not): https://github.com/vlang/vls/issues/229

[2022-07-31 11:43] tzSharing opened #375 "Connection to server got closed，request textDocument/documentSymbol failed"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
This is a sporadic bug, restarting VS Code will return to normal, but sometimes it will reappear.
[code]

[2022-07-31 15:12] nedpals commented on #375
@tzSharing Was there any message that a crash log has been generated?

[2022-07-31 15:43] JalonSolov commented on #375
Also, look to see if you have any files matching `C:\Users\TZ\vls_*`

[2022-07-31 16:34] nedpals commented on #375
It's inside `%USERDIR%\.vls\logs` on the recent versions

[2022-08-01 08:04] tzSharing commented on #375
@nedpals @JalonSolov I only found the vls report file under `C:\Users\TZ\\.vls\reports`, I have uploaded it, hope it helps.
[vls_report_1659263561.md](https://github.com/vlang/vls/files/9232055/vls_report_1659263561.md)
[vls_report_1659265442.md](https://github.com/vlang/vls/files/9232058/vls_report_1659265442.md)

[2022-08-02 00:09] nedpals commented on #375
Great! I'll look into this later. Thanks 🙂

[2022-08-09 16:03] milen-prg opened #376 "not work on VSCode"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
I open simple v example:
a.v file in VSCode:

[code]

V plugin is installed and when try to run the vls - failed - see log:

## Last Recorded LSP Requests

[vls.log](https://github.com/vlang/vls/files/9292759/vls.log)

Similar failure result was achieved with Sublime Text ecosystem.

[2022-08-10 07:56] MKuranowski opened #377 "Failed to compile: io.Eof doesn't exist"
## System Information
### V doctor
[code]

### VLS info
Commit f890f35

## Problem Description
VLS cannot be compiled with V 0.3.0

## Expected Output
VLS to successfully compile on V 0.3.0

## Actual Output
[code]

## Steps to Reproduce
[code]

## Last Recorded LSP Requests
n/a

[2022-08-11 12:30] nedpals commented on #377
@MKuranowski please update your install of V.

[2022-08-11 16:11] manen commented on #109
i won't be home for another few days so i can't check but i don't remember it being an issue lately so i guess so

[2022-08-16 13:28] lydiandy opened #378 "VLS in vscode can not goto to definition when the v file be placed in src directory"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
VLS in vscode can not goto to definition when the v file  be placed in src directory

## Expected Output
 VLS can goto definition just like v file in module root directory

## Actual Output
unknown function

## Steps to Reproduce

## Last Recorded LSP Requests

[2022-08-17 10:04] zeozeozeo commented on #368
thank you!

[2022-08-17 10:04] #368 closed

[2022-08-20 03:29] nedpals commented on #377
Closed as this is a non-VLS issue and more of an issue with outdated version of V.

[2022-08-20 03:29] #377 closed

[2022-08-20 16:30] oscgu opened #380 "Vls doesnt do anything in nvim"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
Vls doesnt do anything when I type invalid code and doesn't do text completion

## Expected Output
Warnings/Errors and text completion

## Actual Output
None

## Steps to Reproduce
Set nvim up with `nvim-cmp`, `cmp-nvim-lsp` and `nvim-lspconfig`
Installed the language server with `v ls --install` and added the f

[2022-08-22 01:33] nedpals commented on #378
@lydiandy goto def in a file inside `src` works for me. do you mean that go to def'ing a module that uses the `src` folder does not work? because that might be possible

[2022-08-22 01:41] nedpals commented on #378
your issue might be fixed https://github.com/vlang/vls/commit/8fb22447cd8877a3090c55150974dd36d869f223 but i will still fix the other one i meant since its indeed an issue

[2022-08-22 04:55] lydiandy commented on #378
@nedpals I update the latest v and vls, the issue is not fixed. here is the example code:

![image](https://user-images.githubusercontent.com/56576373/185841597-4a3efe55-2046-4345-b7b3-53772df74c35.png)

main.v
[code]
abc.v
[code]
def.v
[code]
 goto definition works, when I move the abc.v and def.v into m directory.

[2022-08-22 05:05] nedpals commented on #378
if thats the case, i have the fix already in place: https://github.com/vlang/vls/pull/383

i am still finalizing the rules on this but yeah the fix is already there 😅

[2022-08-27 12:08] #378 closed

[2022-08-30 01:29] danawoodman opened #385 "Does not install on macOS M2(?)"
## System Information
### V doctor
[code]

### VLS info

n/a

## Problem Description
Running `v ls --install` as stated in the docs fails using the latest version of V with:

[code]

I've followed the instructions but it still fails.

I've installed V by cloning the git repo and running `make` as instructed in V's readme

## Expected Output
It to install VLS

## Actual Output
See above

## Steps t

[2022-08-30 19:26] danawoodman commented on #385
Thanks!

[2022-09-06 19:13] peterlerche opened #386 "Language server fails on startup."
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
The VLS will install but breaks on language server startup.
I have tried the following but ended up with the same fault.
A. Install via VSCode dialog box "VLS is not installed. Do you want to install it now?", V files open in the editor.
B. Install via VSCode dialog box "VLS is not installed. Do you want to inst

[2022-09-17 13:03] SilverTab commented on #385
Getting the same error on an M1 Pro mac.

[2022-09-17 15:43] JalonSolov commented on #385
You have a rather old version of V.  Try `v up` to get the latest, then try again.

Current version is `V 0.3.1 085a09e`.

[2022-09-17 18:01] SilverTab commented on #385
I tried on the latest one, same result:

[code]

[2022-09-18 13:02] SilverTab commented on #385
Looks like this was due to my system having 2 versions of OpenSSL installed (one via homebrew, and a system one) and V was compiled using the wrong one. Following the instructions at the end of this issue, I was able to fix it: https://github.com/vlang/v/issues/14888

However, now I'm back to where I was on my intel mac, which is that the language server is installed, and runs fine from Terminal,

[2022-09-24 01:37] zhwei820 opened #388 "vls crash report"
vs code output.
[code]

## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

## Expected Output

## Actual Output
N/A

## Steps to Reproduce

## Last Recorded LSP Requests
### Request
[code]
### Response
[code]

## Posible causes
      There are two `main functions` in same package; when I remove one `main function`, it stops crash.

[2022-09-27 08:49] tzSharing opened #389 "failed to build from source"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description
[code]

[2022-09-27 09:03] tzSharing opened #390 "vsCode can' t start vls when opening .v files without creating a workspace, can it be improved?"
vsCode can' t start vls when opening .v files without creating a workspace。
I'm not sure if it's a bug or a limitation of the editor itself, can it be improved?

[2022-10-07 13:47] iacore opened #394 "VLS doesn't handle zombie process (v)"
vls version 0.0.1.8af4c9e

## Problem Description
VLS spawn `v` processes but doesn't `wait()` on them. The result is, in `top` a lot of zombie processes are under vls.

It doesn't affect usage. It just clutters process view.

## Steps to Reproduce

1. Use VLS in a project
2. Run `htop` and enable tree view with `t`

[2022-10-25 13:45] Alexey-T opened #401 "V server don't work in CudaText LSP plugin"
## System Information
### V doctor
[code]

### VLS info
[code]

## Problem Description

CudaText (free editor, which has V lexer in Addons Manager), its LSP plugin, don't work with VLS.
How to configure LSP plugin, and what errors we see -
https://github.com/CudaText-addons/cuda_lsp/issues/88

## Expected Output

VLS must give autocompletion.

## Actual Output

No autocompletion for file v/example

[2022-10-26 05:04] charliemikels commented on #380
I'm running into a very similar issue.
Additionally, My setup outputs a "VLS is early software" warning in the bottom. On one of my school projects, I'm using a custom module for school called `gfx`. whenever it's imported, it's line throws an error hovering over the error produces this popup:

[code]
When other modules are imported, the array in the error includes those modules as well.
However,

[2022-10-29 12:09] veksha commented on #401
it seems that VLS doesn't support `Content-Type` header!!
VLS is trying to parse it as JSON.
Can it be fixed, please?

[2022-10-29 15:23] veksha opened #403 "crash on completion"
### V doctor
[code]

### VLS info
[code]

## Problem Description
open simple .v file
[code]
and try to use autocompletion
vls crashes:

[code]

## Expected Output
completion result

## Actual Output
[code]

## Steps to Reproduce
press ctrl+space

## Last Recorded LSP Requests
### Request
[code]
### Response
[code]

[2022-11-24 06:59] Alexey-T commented on #401
No work on it yet?